Repository updatecli/updatecli, pull requests merged in 2021-12, with the labels that each got.

#406 Fix helm chart file path
  pkg/plugins/helm/chart/target.go
Labels: bug, target, resource-helmchart

#417 hotfix-chore: disable temporarly golang upgrade
  updatecli/updatecli.d/golang.yaml.disabled
Labels: chore

#415 Chore: bump golangcilint to 1.43 and apply updated code suggestions
  .golangci.yml
  pkg/plugins/file/main.go
  pkg/plugins/file/main_test.go
  pkg/plugins/yaml/main.go
  pkg/plugins/yaml/main_test.go
Labels: chore, cleanup

#414 Refactor plugin "AWS AMI"
  examples/updatecli.generic/aws_ami.yaml
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/source/main.go
  pkg/plugins/awsami/condition.go
  pkg/plugins/awsami/condition_test.go
  pkg/plugins/awsami/data_test.go
  pkg/plugins/awsami/filter.go
  pkg/plugins/awsami/helpers.go
  pkg/plugins/awsami/helpers_test.go
  pkg/plugins/awsami/main.go
  pkg/plugins/awsami/sort.go
  pkg/plugins/awsami/source.go
  pkg/plugins/awsami/source_test.go
  pkg/plugins/awsami/spec.go
Labels: chore, cleanup

#422 fix: correctly escape changelog
  pkg/plugins/github/pullrequest.go
Labels: bug, pullrequest-github

#426 fix(github) open a new pullrequest if the previous were closed
  pkg/plugins/github/pullrequest.go
Labels: bug, pullrequest-github

#425 fix(pullrequests) retrieve changelog from both 'successful' and 'attention' targets
  pkg/core/pipeline/pullRequests.go
Labels: bug, pullrequest-github

#427 fix(pullrequest) show the correct report for the pull request section
  pkg/core/pipeline/pullRequests.go
  pkg/plugins/github/pullrequest.go
Labels: bug, pullrequest-github

#428 chore(dependencies): bump and pin runc to 1.0.3
  go.mod
  go.sum
Labels: chore
