Repository updatecli/updatecli, pull requests merged in 2021-11, with the labels that each got.

#349 fix(file) add missing validation messages + improve test coverage
  examples/updateCli.generic/file.yaml
  pkg/plugins/file/condition.go
  pkg/plugins/file/condition_test.go
  pkg/plugins/file/source.go
  pkg/plugins/file/source_test.go
  pkg/plugins/file/target.go
  pkg/plugins/file/target_test.go
Labels: bug, target, source, condition, resource-file

#350 Support labels configuration for Github Pull Request
  pkg/core/engine/target/main.go
  pkg/core/scm/pullRequest.go
  pkg/plugins/github/label.go
  pkg/plugins/github/label_test.go
  pkg/plugins/github/main.go
  pkg/plugins/github/pullrequest.go
  pkg/plugins/github/source_test.go
Labels: enhancement, target, scm-github

#354 fix(shell) correct logging output
  examples/updateCli.generic/shell/condition.sh
  examples/updateCli.generic/shell/shell.yaml
  examples/updateCli.generic/shell/target.sh
  pkg/plugins/shell/command.go
  pkg/plugins/shell/condition.go
  pkg/plugins/shell/condition_test.go
  pkg/plugins/shell/errors.go
  pkg/plugins/shell/main.go
  pkg/plugins/shell/source.go
  pkg/plugins/shell/target.go
  pkg/plugins/shell/target_test.go
Labels: bug, target, source, condition, resource-shell

#356 Add transformer findSubMatch
  pkg/core/transformer/main.go
  pkg/core/transformer/main_test.go
Labels: enhancement, transformers

#361 chore(github pull requests) typo + markdownlint on GitHub templates for issues and PRs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
Labels: chore

#360 fix(yaml) Allow specifying file path as an URL
  examples/updateCli.generic/shell/shell.yaml
  examples/updateCli.generic/yaml.tpl
  examples/updateCli.generic/yaml.yaml
  examples/values.yaml
  pkg/core/engine/condition/main.go
  pkg/core/engine/source/main.go
  pkg/core/engine/target/main.go
  pkg/plugins/file/main.go
  pkg/plugins/helm/chart/target.go
  pkg/plugins/yaml/condition.go
  pkg/plugins/yaml/main.go
  pkg/plugins/yaml/main_test.go
  pkg/plugins/yaml/source.go
  pkg/plugins/yaml/target.go
Labels: bug, source, resource-yaml

#362 fix(yaml) allow condition without a source input value
  examples/updateCli.generic/yaml.yaml
  pkg/plugins/yaml/condition.go
  pkg/plugins/yaml/condition_test.go
Labels: bug, condition, resource-yaml

#363 fix(yaml) specifying a value takes precedence over the source input
  examples/updateCli.generic/yaml.yaml
  pkg/plugins/file/condition.go
  pkg/plugins/file/target.go
  pkg/plugins/yaml/condition.go
  pkg/plugins/yaml/target.go
  pkg/plugins/yaml/target_test.go
Labels: bug, target, resource-yaml

#368 fix(git-generic) Ensure that git add works with absolute file paths
  pkg/plugins/git/generic/main.go
Labels: bug, target, scm-git

#376 chore(go.mod) define hexops/gotextdiff as an explicit required dependencies
  go.mod
Labels: chore

#377 fix(target) do not open a PR when a target does not change a file
  pkg/core/engine/target/main.go
Labels: bug, target

#381 chore: rename all occurences of updateCli to lowercase
  Makefile
  cmd/apply.go
  cmd/diff.go
  cmd/prepare.go
  cmd/root.go
  cmd/show.go
  examples/updatecli.d/docker-compose.yaml
  examples/updatecli.d/dockerfile.tpl
  examples/updatecli.d/grafana-loki.tpl
  examples/updatecli.d/jenkins-chart.tpl
  examples/updatecli.d/jenkins-wiki-exporter.tpl
  examples/updatecli.d/jenkins.tpl
  examples/updatecli.d/jenkins.yaml
  examples/updatecli.d/jenkinsio.tpl
  examples/updatecli.d/nginx.yaml
  examples/updatecli.d/noYamlConditionScm.tpl
  examples/updatecli.d/pluginsite-api.tpl
  examples/updatecli.d/prometheus.tpl
  examples/updatecli.d/sources/dockerfile_sources.tpl
  examples/updatecli.d/updatecli.yaml
  examples/updatecli.generic/aws_ami.yaml
  examples/updatecli.generic/dockerfile/Dockerfile
  examples/updatecli.generic/dockerfile/dockerfile-coordinates.yaml
  examples/updatecli.generic/dockerfile/dockerfile-textmatcher.yaml
  examples/updatecli.generic/file.yaml
  examples/updatecli.generic/gitTag.yaml
  examples/updatecli.generic/githubRelease.tpl
  examples/updatecli.generic/helmChart/SCM.tpl
  examples/updatecli.generic/helmChart/noSCM.yaml
  examples/updatecli.generic/helmChart/requirement.tpl
  examples/updatecli.generic/helmRelease.tpl
  examples/updatecli.generic/jenkins/stable.tpl
  examples/updatecli.generic/jenkins/weekly.tpl
  examples/updatecli.generic/maven.yaml
  examples/updatecli.generic/runtimeTemplating.2.tpl
  examples/updatecli.generic/runtimeTemplating.tpl
  examples/updatecli.generic/shell/condition.sh
  examples/updatecli.generic/shell/shell.yaml
  examples/updatecli.generic/shell/source.sh
  examples/updatecli.generic/shell/target.sh
  examples/updatecli.generic/transformers/jenkins.tpl
  examples/updatecli.generic/yaml.yaml
  pkg/plugins/docker/dockerfile/mobyparser/main_test.go
  pkg/plugins/docker/dockerfile/test_fixtures/ARG.Dockerfile
  pkg/plugins/docker/dockerfile/test_fixtures/FROM.Dockerfile
Labels: chore

#380 fix(yaml) report target as failed when the key is not found instead of a false positive
  pkg/plugins/yaml/target.go
  pkg/plugins/yaml/target_test.go
Labels: bug, target, resource-yaml

#382 feat(file) allow condition to only check for file existence
  examples/updatecli.generic/file.yaml
  pkg/core/text/main.go
  pkg/plugins/file/condition.go
  pkg/plugins/file/condition_test.go
  pkg/plugins/file/target.go
Labels: enhancement, condition, resource-file

#383 fix(dependencies) bump containerd to 1.5.8 and protobuf to 1.27.1 to fix GHSA-5j5w-g665-5m35 security bulletin
  go.mod
  go.sum
Labels: dependencies

#384 fix(dependencies) bump image-spec to 1.0.2 to fix GHSA-77vh-xpmg-72qh security bulletin
  go.mod
  go.sum
Labels: dependencies

#387 fix(githubRelease) retrieve changelog based on the original release/tag instead of the transformed one
  examples/updatecli.generic/githubRelease.tpl
  examples/updatecli.generic/githubRelease.yaml
  pkg/plugins/git/tag/condition.go
  pkg/plugins/git/tag/main.go
  pkg/plugins/git/tag/source.go
  pkg/plugins/git/tag/target.go
  pkg/plugins/github/changelog.go
  pkg/plugins/github/main.go
  pkg/plugins/github/source.go
  pkg/plugins/version/main.go
  pkg/plugins/version/main_test.go
  pkg/plugins/version/semver.go
  pkg/plugins/version/semver/main_test.go
  pkg/plugins/version/semver_test.go
Labels: bug, resource-githubRelease, source, resource-gittag

#386 fix(log messages) homogenize the emojis used for user output messages
  cmd/root.go
  pkg/core/engine/main.go
  pkg/core/engine/target/main.go
  pkg/plugins/aws/ami/condition.go
  pkg/plugins/aws/ami/source.go
  pkg/plugins/docker/condition.go
  pkg/plugins/docker/dockerfile/mobyparser/main.go
  pkg/plugins/docker/dockerfile/simpletextparser/main.go
  pkg/plugins/docker/dockerfile/simpletextparser/main_test.go
  pkg/plugins/docker/source.go
  pkg/plugins/file/condition.go
  pkg/plugins/file/source.go
  pkg/plugins/file/target.go
  pkg/plugins/git/tag/condition.go
  pkg/plugins/git/tag/source.go
  pkg/plugins/git/tag/target.go
  pkg/plugins/github/source.go
  pkg/plugins/helm/chart/condition.go
  pkg/plugins/helm/chart/source.go
  pkg/plugins/jenkins/condition.go
  pkg/plugins/jenkins/source.go
  pkg/plugins/maven/condition.go
  pkg/plugins/maven/source.go
  pkg/plugins/yaml/source.go
Labels: bug

#385 chore(yaml) improve condition validation error message to help end users
  pkg/plugins/yaml/condition.go
Labels: condition, resource-yaml, chore

#392 chore: put github feature template instructions in comments
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#389 chore: put github issue template instructions in comments
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#398 fix(conditions) prints validation error when found
  pkg/core/engine/condition/main.go
Labels: bug, condition

#402 chore(release-drafter) use an automatic determined version with current labels
  .github/release-drafter.yaml
Labels: chore

#401 fix(yaml,file) fail validation when the file does not exist
  pkg/plugins/file/main.go
  pkg/plugins/file/main_test.go
  pkg/plugins/yaml/main.go
  pkg/plugins/yaml/main_test.go
Labels: bug, resource-yaml, resource-file

#400 fix: fail validation when SourceID is missing on conditions and targets
  pkg/core/config/main.go
  pkg/core/config/main_test.go
Labels: bug, target, condition

#396 fix: skip sources when their parent source failed
  pkg/core/config/main.go
  pkg/core/config/main_test.go
  pkg/core/pipeline/sources.go
Labels: bug, source
