Repository updatecli/updatecli, pull requests merged in 2022-10, with the labels that each got.

#899 Add multi file support to Json/Toml/csv resource
  e2e/updatecli.d/success.d/json.yaml
  pkg/plugins/resources/csv/condition.go
  pkg/plugins/resources/csv/csvContent.go
  pkg/plugins/resources/csv/main.go
  pkg/plugins/resources/csv/source.go
  pkg/plugins/resources/csv/source_test.go
  pkg/plugins/resources/csv/spec.go
  pkg/plugins/resources/csv/target.go
  pkg/plugins/resources/csv/target_test.go
  pkg/plugins/resources/json/condition.go
  pkg/plugins/resources/json/main.go
  pkg/plugins/resources/json/source.go
  pkg/plugins/resources/json/source_test.go
  pkg/plugins/resources/json/spec.go
  pkg/plugins/resources/json/target.go
  pkg/plugins/resources/json/testdata/data.2.json
  pkg/plugins/resources/json/utils_test.go
  pkg/plugins/resources/toml/condition.go
  pkg/plugins/resources/toml/main.go
  pkg/plugins/resources/toml/source.go
  pkg/plugins/resources/toml/source_test.go
  pkg/plugins/resources/toml/spec.go
  pkg/plugins/resources/toml/target.go
  pkg/plugins/utils/dasel/helper.go
  pkg/plugins/utils/dasel/helper_test.go
  pkg/plugins/utils/dasel/main.go
  pkg/plugins/utils/dasel/put.go
  pkg/plugins/utils/dasel/query.go
  pkg/plugins/utils/dasel/read.go
  pkg/plugins/utils/dasel/write.go
Labels: enhancement, resource-json, resource-toml, resource-csv

#906 fix: Accessing yaml keys with . in the name fails
  pkg/plugins/resources/yaml/condition.go
  pkg/plugins/resources/yaml/source.go
  pkg/plugins/resources/yaml/target.go
  pkg/plugins/resources/yaml/utils.go
  pkg/plugins/resources/yaml/utils_test.go
Labels: bug, resource-yaml

#900 Add support for Docker default config file
  go.mod
  go.sum
  pkg/plugins/autodiscovery/helm/dockerimage.go
  pkg/plugins/autodiscovery/helm/dockerimage_test.go
  pkg/plugins/autodiscovery/helm/main.go
  pkg/plugins/autodiscovery/helmfile/main.go
  pkg/plugins/resources/dockerdigest/main.go
  pkg/plugins/resources/dockerdigest/main_test.go
  pkg/plugins/resources/dockerdigest/source.go
  pkg/plugins/resources/dockerdigest/source_test.go
  pkg/plugins/resources/dockerimage/condition.go
  pkg/plugins/resources/dockerimage/condition_test.go
  pkg/plugins/resources/dockerimage/main.go
  pkg/plugins/resources/dockerimage/main_test.go
  pkg/plugins/resources/dockerimage/source.go
  pkg/plugins/utils/docker/dockerimage/main.go
  pkg/plugins/utils/docker/dockerimage/main_test.go
  pkg/plugins/utils/docker/dockermocks/main.go
  pkg/plugins/utils/docker/dockerregistry/main.go
  pkg/plugins/utils/docker/dockerregistry/main_test.go
  pkg/plugins/utils/docker/dockerregistry/tags.go
  pkg/plugins/utils/docker/dockerregistry/tags_test.go
  pkg/plugins/utils/docker/main.go
Labels: enhancement, resource-dockerdigest, resource-docker, resource-dockerfile

#924 Add docker digest support for Updatecli condition
  e2e/updatecli.d/success.d/dockerdigest.yaml
  e2e/updatecli.d/success.d/dockerimage.yaml
  e2e/updatecli.d/warning.d/dockerimage.yaml
  pkg/plugins/resources/dockerdigest/condition.go
  pkg/plugins/resources/dockerdigest/main.go
  pkg/plugins/resources/dockerdigest/source.go
  pkg/plugins/resources/dockerimage/condition.go
Labels: enhancement, resource-dockerdigest

#926 Add e2e test for csv
  e2e/updatecli.d/success.d/csv.yaml
Labels: skip-changelog

#931 Remove "state": "OPEN" to fix updating of titles
  pkg/plugins/scms/github/pullrequest.go
Labels: bug, pullrequest-github

#944 Allow multiple query combined with versionfilter to json source
  e2e/updatecli.d/deprecated.d/json.yaml
  e2e/updatecli.d/success.d/json.yaml
  pkg/plugins/resources/json/condition.go
  pkg/plugins/resources/json/condition_test.go
  pkg/plugins/resources/json/main.go
  pkg/plugins/resources/json/source.go
  pkg/plugins/resources/json/spec.go
  pkg/plugins/resources/json/target.go
  pkg/plugins/resources/json/target_test.go
  pkg/plugins/utils/version/main.go
Labels: enhancement, resource-json

#955 fix(pullrequest): default title with the source output instead of its result '✔'
  pkg/core/pipeline/pullRequests.go
Labels: bug, source, ux, pullrequest
