Repository updatecli/updatecli, pull requests merged in 2022-02, with the labels that each got.

#496 fix(pullrequests) Do not mention a pull request in dry run when there are no changes
  pkg/core/pipeline/pullRequests.go
Labels: bug, pullrequest-github

#502 fix(yaml) do not crash when the specified YAML array index does not exist
  pkg/plugins/yaml/main.go
  pkg/plugins/yaml/main_test.go
  pkg/plugins/yaml/test.yaml
Labels: bug, resource-yaml

#503 fix(dockerfile) manage ENV legacy case without an equal sign
  pkg/plugins/dockerfile/simpletextparser/keywords/env.go
  pkg/plugins/dockerfile/simpletextparser/keywords/env_test.go
Labels: bug, resource-dockerfile

#505 fix(pullrequests,reports) renders templated values in title and descriptions
  pkg/core/engine/main.go
  pkg/core/pipeline/conditions.go
  pkg/core/pipeline/pullRequests.go
  pkg/core/pipeline/pullrequest/main.go
  pkg/core/pipeline/sources.go
  pkg/core/pipeline/targets.go
  pkg/core/reports/main.go
  pkg/core/reports/report.go
  pkg/core/reports/stage.go
Labels: bug, pullrequest-github, reports

#516 Remove warning
  README.adoc
Labels: documentation, skip-changelog

#514 Allow to specify github pullrequest merge method
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/pullrequest.go
Labels: pullrequest-github

#527 fix(condition) do not execute target if a condition fails
  e2e/skipped.targets.d/multiple-conditions.yaml
  e2e/skipped.targets.d/one-condition.yaml
  e2e/venom.d/test_skipped_targets.yaml
  pkg/core/pipeline/conditions.go
Labels: bug, condition

#535 Fix working
  pkg/core/pipeline/resource/main.go
Labels: skip-changelog
