Repository updatecli/updatecli, pull requests merged in 2022-01, with the labels that each got.

#436 Don't try to open a pullrequest when not needed
  pkg/plugins/git/generic/main.go
  pkg/plugins/git/generic/main_test.go
  pkg/plugins/github/pullrequest.go
Labels: scm-git, pullrequest-github

#449 fix(go.mod) GHSA-mvff-h3cj-wj9c vulnerability
  go.mod
  go.sum
Labels: dependencies

#453 chore: refactor resource dockerfile
  examples/updatecli.generic/dockerfile/dockerfile-coordinates.yaml
  examples/updatecli.generic/dockerfile/dockerfile-textmatcher.yaml
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/target/main.go
  pkg/plugins/dockerfile/condition.go
  pkg/plugins/dockerfile/condition_test.go
  pkg/plugins/dockerfile/main.go
  pkg/plugins/dockerfile/main_test.go
  pkg/plugins/dockerfile/simpletextparser/main.go
  pkg/plugins/dockerfile/simpletextparser/main_test.go
  pkg/plugins/dockerfile/simpletextparser/test_fixtures/ARG.Dockerfile
  pkg/plugins/dockerfile/simpletextparser/test_fixtures/ENV.Dockerfile
  pkg/plugins/dockerfile/simpletextparser/test_fixtures/FROM.Dockerfile
  pkg/plugins/dockerfile/target.go
  pkg/plugins/dockerfile/target_test.go
Labels: target, condition, resource-dockerfile, chore

#454 fix double space
  pkg/plugins/git/commit/main.go
  pkg/plugins/git/commit/main_test.go
Labels: chore

#447 fix(pullrequests) validate that specified targets exist in the manifest
  pkg/core/config/deprecated.go
  pkg/core/config/main.go
  pkg/core/config/main_test.go
Labels: bug, target, pullrequest-github

#455 chore(release) use a temporary token from GH app to fix homebrew deployment
  .github/workflows/release.yaml
Labels: github_actions, chore, cleanup

#459 fix(helm) correct error `unsupported protocol scheme ""`
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/target/main.go
  pkg/plugins/file/main.go
  pkg/plugins/helm/main.go
  pkg/plugins/yaml/main.go
Labels: bug, resource-helmchart

#460 chore: new issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  updatecli/updatecli.d/updatecli.yaml
Labels: chore, skip-changelog

#456 chore(shell) refactor to follow plugin conventions
  examples/updatecli.generic/shell/shell.yaml
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/target/main.go
  pkg/plugins/shell/condition_test.go
  pkg/plugins/shell/main.go
  pkg/plugins/shell/main_test.go
  pkg/plugins/shell/source_test.go
  pkg/plugins/shell/target_test.go
Labels: resource-shell, chore

#470 hotfix(conditions) show error message when a condition errors
  pkg/core/pipeline/conditions.go
Labels: bug, condition

#477 chore(release-drafter) PR about dependencies should only bump patch
  .github/release-drafter.yaml
Labels: skip-changelog

#457 Refactor the gittag plugin + fix sources of gittag
  Makefile
  e2e/updatecli.d/source/gitTag.yaml
  examples/updatecli.generic/gitTag.yaml
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/target/main.go
  pkg/plugins/git/generic/main.go
  pkg/plugins/git/tag/condition.go
  pkg/plugins/git/tag/main.go
  pkg/plugins/git/tag/source.go
  pkg/plugins/git/tag/target.go
  pkg/plugins/github/source.go
  pkg/plugins/gittag/condition.go
  pkg/plugins/gittag/main.go
  pkg/plugins/gittag/source.go
  pkg/plugins/gittag/target.go
  pkg/plugins/version/main.go
  pkg/plugins/version/main_test.go
Labels: bug, target, source, resource-gittag, condition

#479 chore(githubrelease) factorize githubrelease plugin out of the github package
  pkg/core/pipeline/source/changelog.go
  pkg/core/pipeline/source/main.go
  pkg/plugins/github/changelog.go
  pkg/plugins/github/changelog_test.go
  pkg/plugins/github/client.go
  pkg/plugins/github/label.go
  pkg/plugins/github/label_test.go
  pkg/plugins/github/main.go
  pkg/plugins/github/main_test.go
  pkg/plugins/github/mocks.go
  pkg/plugins/github/pullrequest.go
  pkg/plugins/github/release.go
  pkg/plugins/github/release_test.go
  pkg/plugins/github/source.go
  pkg/plugins/github/source_test.go
  pkg/plugins/github/tag.go
  pkg/plugins/github/tag_test.go
  pkg/plugins/githubrelease/changelog.go
  pkg/plugins/githubrelease/main.go
  pkg/plugins/githubrelease/main_test.go
  pkg/plugins/githubrelease/source.go
  pkg/plugins/githubrelease/source_test.go
  pkg/plugins/helm/changelog.go
  pkg/plugins/jenkins/changelog.go
Labels: resource-githubRelease, source, scm-github, chore

#485 Update contact email address
  CODE_OF_CONDUCT.md
Labels: skip-changelog

#491 Support automerge for Github PullRequest
  go.mod
  go.sum
  pkg/plugins/github/mocks.go
  pkg/plugins/github/pullrequest.go
Labels: enhancement, pullrequest-github

#493 chore(yaml) cleanup file generated during test phase
  pkg/plugins/yaml/target_test.go
Labels: resource-yaml, chore, skip-changelog

#482 fix(jenkins) refactor (apply code conventions) plugin to fix changelog output
  e2e/updatecli.d/jenkins.yaml
  examples/updatecli.generic/jenkins.yaml
  examples/updatecli.generic/jenkins/stable.yaml
  examples/updatecli.generic/jenkins/weekly.yaml
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/source/main.go
  pkg/plugins/jenkins/changelog.go
  pkg/plugins/jenkins/changelog_test.go
  pkg/plugins/jenkins/condition.go
  pkg/plugins/jenkins/condition_test.go
  pkg/plugins/jenkins/main.go
  pkg/plugins/jenkins/main_test.go
  pkg/plugins/jenkins/semver.go
  pkg/plugins/jenkins/semver_test.go
  pkg/plugins/jenkins/source.go
  pkg/plugins/jenkins/source_test.go
Labels: bug, source, condition, resource-jenkins, cleanup
