Repository updatecli/updatecli, pull requests merged in 2022-12, with the labels that each got.

#1009 [source][condition] Add NPM support
  e2e/updatecli.d/success.d/npm.yaml
  pkg/core/pipeline/resource/main.go
  pkg/plugins/resources/npm/changelog.go
  pkg/plugins/resources/npm/condition.go
  pkg/plugins/resources/npm/condition_test.go
  pkg/plugins/resources/npm/main.go
  pkg/plugins/resources/npm/source.go
  pkg/plugins/resources/npm/source_test.go
  pkg/plugins/resources/npm/target.go
Labels: enhancement, resource-npm

#973 Add docker compose file autodiscovery
  e2e/updatecli.d/warning.d/autodiscovery/docker-compose/example.1.yaml
  e2e/updatecli.d/warning.d/autodiscovery/docker-compose/example.2.yaml
  e2e/updatecli.d/warning.d/autodiscovery/docker-compose/example.3.yaml
  pkg/core/engine/main.go
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/dockercompose/compose.go
  pkg/plugins/autodiscovery/dockercompose/main.go
  pkg/plugins/autodiscovery/dockercompose/main_test.go
  pkg/plugins/autodiscovery/dockercompose/matchingRule.go
  pkg/plugins/autodiscovery/dockercompose/matchingRule_test.go
  pkg/plugins/autodiscovery/dockercompose/testdata/docker-compose.yaml
  pkg/plugins/autodiscovery/dockercompose/testdata/not-compose.yaml
  pkg/plugins/autodiscovery/dockercompose/testdata/not-yaml.txt
  pkg/plugins/autodiscovery/dockercompose/utils.go
  pkg/plugins/autodiscovery/dockercompose/utils_test.go
  pkg/plugins/autodiscovery/helm/dockerimage.go
  pkg/plugins/autodiscovery/helm/dockerimage_test.go
  pkg/plugins/resources/dockerimage/main.go
  pkg/plugins/resources/dockerimage/source.go
  pkg/plugins/resources/dockerimage/spec.go
  pkg/plugins/resources/dockerimage/spec_test.go
  pkg/plugins/utils/version/filter.go
  pkg/plugins/utils/version/filter_test.go
  pkg/plugins/utils/version/main.go
  pkg/plugins/utils/version/semver_test.go
Labels: enhancement, autodiscovery, docker-compose

#1003 Add Dockerfile Autodiscovery
  e2e/updatecli.d/warning.d/autodiscovery/dockerfile/asciidoctor.yaml
  e2e/updatecli.d/warning.d/autodiscovery/dockerfile/epinio.yaml
  e2e/updatecli.d/warning.d/autodiscovery/dockerfile/jenkins-infra.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/dockerfile/dockerfile.go
  pkg/plugins/autodiscovery/dockerfile/main.go
  pkg/plugins/autodiscovery/dockerfile/main_test.go
  pkg/plugins/autodiscovery/dockerfile/matchingRule.go
  pkg/plugins/autodiscovery/dockerfile/matchingRule_test.go
  pkg/plugins/autodiscovery/dockerfile/testdata/Dockerfile
  pkg/plugins/autodiscovery/dockerfile/testdata/alpine/Dockerfile
  pkg/plugins/autodiscovery/dockerfile/testdata/jenkins/Dockerfile
  pkg/plugins/autodiscovery/dockerfile/testdata/updatecli-action/Dockerfile
  pkg/plugins/autodiscovery/dockerfile/utils.go
  pkg/plugins/autodiscovery/dockerfile/utils_test.go
Labels: enhancement, autodiscovery

#1023 [source][condition] Add file URI support for Helm resource
  e2e/updatecli.d/success.d/helmchart.yaml
  pkg/plugins/resources/helm/changelog.go
  pkg/plugins/resources/helm/condition.go
  pkg/plugins/resources/helm/main.go
  pkg/plugins/resources/helm/source.go
  pkg/plugins/resources/helm/utils.go
Labels: enhancement, source, condition, helmfile

#1025 [source] Add versionfilter support for the helm resource
  e2e/updatecli.d/success.d/helmchart.yaml
  pkg/plugins/resources/helm/condition_test.go
  pkg/plugins/resources/helm/main.go
  pkg/plugins/resources/helm/main_test.go
  pkg/plugins/resources/helm/source.go
  pkg/plugins/resources/helm/source_test.go
Labels: enhancement, source, resource-helm

#1037 fix(actions) print the deprecation action's kind warning only once
  pkg/core/pipeline/action/main.go
  pkg/core/pipeline/action/main_test.go
Labels: bug, actions

#1046 Remove gorelease release sandbox
  .github/workflows/release-sandbox.yaml
Labels: cleanup

#1042 fix(actions) ignore deprecatedscmid when scmid is specified
  pkg/core/pipeline/action/main.go
  pkg/core/pipeline/action/main_test.go
Labels: bug, deprecated, actions

#1057 Allows to reverse expected condition result
  e2e/updatecli.d/success.d/gitea/tag.yaml
  pkg/core/pipeline/condition/main.go
  pkg/plugins/resources/gitea/tag/condition.go
Labels: enhancement, condition
