Repository updatecli/updatecli, pull requests merged in 2022-11, with the labels that each got.

#964 Allow multiple query combined with versionfilter to csv source
  e2e/updatecli.d/success.d/csv.yaml
  pkg/plugins/resources/csv/condition.go
  pkg/plugins/resources/csv/condition_test.go
  pkg/plugins/resources/csv/main.go
  pkg/plugins/resources/csv/source.go
  pkg/plugins/resources/csv/source_test.go
  pkg/plugins/resources/csv/spec.go
  pkg/plugins/resources/csv/target.go
  pkg/plugins/resources/csv/target_test.go
Labels: enhancement, resource-csv

#965 Enable default autodiscovery if no valid configuration have been loaded
  pkg/core/engine/main.go
Labels: experimental, autodiscovery

#963 Allow multiple query combined with versionfilter to toml source
  e2e/updatecli.d/success.d/toml.yaml
  pkg/plugins/resources/toml/condition.go
  pkg/plugins/resources/toml/condition_test.go
  pkg/plugins/resources/toml/main.go
  pkg/plugins/resources/toml/source.go
  pkg/plugins/resources/toml/source_test.go
  pkg/plugins/resources/toml/spec.go
  pkg/plugins/resources/toml/target.go
  pkg/plugins/resources/toml/target_test.go
Labels: enhancement, resource-toml

#970 Remove deprecated scm spec at the target level
  pkg/core/config/deprecated.go
  pkg/core/config/main.go
  pkg/core/config/template.go
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/resource/main.go
  pkg/core/pipeline/source/main.go
  pkg/plugins/scms/github/main.go
Labels: cleanup, deprecated

#969 [source][condition] Allow to filter Github Release per release type
  e2e/updatecli.d/success.d/githubRelease.yaml
  pkg/plugins/resources/githubrelease/condition.go
  pkg/plugins/resources/githubrelease/main.go
  pkg/plugins/resources/githubrelease/source.go
  pkg/plugins/resources/githubrelease/source_test.go
  pkg/plugins/scms/github/client.go
  pkg/plugins/scms/github/release.go
  pkg/plugins/scms/github/releaseType.go
  pkg/plugins/scms/github/release_test.go
Labels: enhancement, resource-githubRelease

#984 Fix parent target execution
  pkg/core/pipeline/targets.go
Labels: bug, target

#986 feat(dockerimage condition) supports a list of architectures
  pkg/plugins/resources/dockerimage/condition.go
  pkg/plugins/resources/dockerimage/main.go
  pkg/plugins/resources/dockerimage/main_test.go
Labels: enhancement, condition, resource-docker

#987 Enable default autodiscovery if no manifest provided
  pkg/core/engine/main.go
Labels: enhancement, autodiscovery

#989 Fix: Using the Latest GitHub Release type filter should return the release marked as latest
  pkg/plugins/scms/github/release.go
  pkg/plugins/scms/github/releaseType.go
  pkg/plugins/scms/github/release_test.go
Labels: bug, resource-githubRelease

#1006 Fix commit message when there is 2 or more commits for the same PR
  pkg/plugins/scms/git/commit/main.go
  pkg/plugins/scms/git/commit/main_test.go
Labels: enhancement, scm-github, scm-git, scm-gittea
