Repository updatecli/updatecli, pull requests merged in 2023-01, with the labels that each got.

#1063 Move gitea test from try.gitea.io to codeberg.org
  e2e/updatecli.d/success.d/gitea/branch.yaml
  e2e/updatecli.d/success.d/gitea/release.yaml
  e2e/updatecli.d/success.d/gitea/scm.yaml
  e2e/updatecli.d/success.d/gitea/tag.yaml
  pkg/plugins/resources/gitea/branch/condition_test.go
  pkg/plugins/resources/gitea/branch/source_test.go
  pkg/plugins/resources/gitea/pullrequest/create_test.go
  pkg/plugins/resources/gitea/release/condition_test.go
  pkg/plugins/resources/gitea/release/source_test.go
  pkg/plugins/resources/gitea/release/target_test.go
  pkg/plugins/resources/gitea/tag/condition_test.go
  pkg/plugins/resources/gitea/tag/source_test.go
Labels: cleanup

#1076 chore(e2e tests) Comment e2e `json` test to avoid GitHub api rate limit
  e2e/updatecli.d/success.d/json.yaml
Labels: chore

#1079 Only set git auth if both username && password are specified
  pkg/plugins/utils/gitgeneric/main.go
Labels: bug, scm-gittea

#1070 chore sourceID deprecated for sourceid
  pkg/core/config/main.go
  pkg/plugins/resources/file/condition.go
Labels: bug, ux

#1081 [source][condition] Add Cargo Package support
  e2e/updatecli.d/success.d/cargopackage.yaml
  go.sum
  pkg/core/pipeline/resource/main.go
  pkg/plugins/resources/cargopackage/condition.go
  pkg/plugins/resources/cargopackage/condition_test.go
  pkg/plugins/resources/cargopackage/main.go
  pkg/plugins/resources/cargopackage/main_test.go
  pkg/plugins/resources/cargopackage/source.go
  pkg/plugins/resources/cargopackage/source_test.go
  pkg/plugins/resources/cargopackage/spec.go
  pkg/plugins/resources/cargopackage/spec_test.go
  pkg/plugins/resources/cargopackage/target.go
  pkg/plugins/resources/cargopackage/test_utils.go
Labels: enhancement, resource-cargo

#1086 Upgrade updatecli manifest
  pkg/core/transformer/findSubMatch.go
  pkg/core/transformer/replacer.go
  pkg/core/version/main.go
  pkg/core/version/main_test.go
  updatecli/updatecli.d/golang.yaml
  updatecli/updatecli.d/golangci-lint.yaml
  updatecli/updatecli.d/updatecli.yaml
  updatecli/updatecli.d/venom.yaml
Labels: bug, skip-changelog

#1092 [source][condition] Add throttler and throttle cargo requests
  pkg/core/httpclient/throttler.go
  pkg/plugins/resources/cargopackage/main.go
Labels: enhancement, resource-cargo

#1087 Github Release condition shouldn't rely on versionfilter
  e2e/updatecli.d/success.d/githubrelease/condition.yaml
  pkg/plugins/resources/githubrelease/condition.go
  pkg/plugins/resources/githubrelease/main.go
Labels: bug, resource-githubRelease, condition

#1093 Support for npm private registry
  pkg/plugins/resources/npm/condition_test.go
  pkg/plugins/resources/npm/main.go
  pkg/plugins/resources/npm/main_test.go
  pkg/plugins/resources/npm/source_test.go
  pkg/plugins/resources/npm/test_utils.go
Labels: enhancement, resource-npm

#1067 Shell command works for complex command
  e2e/updatecli.d/success.d/command.yaml
  pkg/core/tmp/main.go
  pkg/plugins/resources/shell/command.go
  pkg/plugins/resources/shell/condition.go
  pkg/plugins/resources/shell/condition_test.go
  pkg/plugins/resources/shell/const.go
  pkg/plugins/resources/shell/environments.go
  pkg/plugins/resources/shell/main.go
  pkg/plugins/resources/shell/main_test.go
  pkg/plugins/resources/shell/source.go
  pkg/plugins/resources/shell/source_test.go
  pkg/plugins/resources/shell/target.go
  pkg/plugins/resources/shell/target_test.go
  pkg/plugins/resources/shell/utils.go
Labels: bug, resource-shell

#1108 Fix autodiscovery jsonschema
  go.mod
  pkg/core/jsonschema/main.go
  pkg/core/jsonschema/main_test.go
  pkg/core/pipeline/action/main.go
  pkg/core/pipeline/autodiscovery/config.go
  pkg/core/pipeline/autodiscovery/jsonschema.go
  pkg/core/pipeline/autodiscovery/main.go
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/scm/config.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/target/main.go
Labels: bug, jsonschema

#1112 Expose `workdir` parameter to shell resource
  e2e/updatecli.d/success.d/shell/workDir.yaml
  pkg/plugins/resources/shell/condition.go
  pkg/plugins/resources/shell/main.go
  pkg/plugins/resources/shell/main_test.go
  pkg/plugins/resources/shell/source.go
  pkg/plugins/resources/shell/target.go
Labels: enhancement, resource-shell

#1071 Allow to define `changedif` behavior for the shell resource
  e2e/updatecli.d/success.d/shell/checksum.yaml
  go.mod
  pkg/core/jsonschema/main.go
  pkg/plugins/resources/shell/changeIf.go
  pkg/plugins/resources/shell/condition.go
  pkg/plugins/resources/shell/condition_test.go
  pkg/plugins/resources/shell/main.go
  pkg/plugins/resources/shell/main_test.go
  pkg/plugins/resources/shell/source.go
  pkg/plugins/resources/shell/source_test.go
  pkg/plugins/resources/shell/success/checksum/main.go
  pkg/plugins/resources/shell/success/checksum/utils.go
  pkg/plugins/resources/shell/success/console/main.go
  pkg/plugins/resources/shell/success/console/main_test.go
  pkg/plugins/resources/shell/success/exitcode/main.go
  pkg/plugins/resources/shell/success/exitcode/main_test.go
  pkg/plugins/resources/shell/target.go
  pkg/plugins/resources/shell/target_test.go
Labels: enhancement, resource-shell

#1119 chore: add debug logs for XML resource (condition and target)
  pkg/plugins/resources/xml/condition.go
  pkg/plugins/resources/xml/target.go
Labels: target, condition, resource-xml, chore, logs

#1124 Provide current workingDir information to shell resource changedif
  pkg/plugins/resources/shell/changeIf.go
  pkg/plugins/resources/shell/condition.go
  pkg/plugins/resources/shell/source.go
  pkg/plugins/resources/shell/success/checksum/main.go
  pkg/plugins/resources/shell/success/console/main.go
  pkg/plugins/resources/shell/success/console/main_test.go
  pkg/plugins/resources/shell/success/exitcode/main.go
  pkg/plugins/resources/shell/success/exitcode/main_test.go
  pkg/plugins/resources/shell/target.go
Labels: bug
