Repository updatecli/updatecli, pull requests merged in 2023-09, with the labels that each got.

#1554 feat: add terraform resources
  .github/actions/spelling/allow.txt
  .github/actions/spelling/patterns.txt
  e2e/updatecli.d/success.d/terraform/lock/noscm.yaml
  e2e/updatecli.d/success.d/terraform/lock/scm.yaml
  e2e/updatecli.d/success.d/terraform/provider/noscm.yaml
  go.mod
  go.sum
  pkg/core/pipeline/resource/main.go
  pkg/plugins/resources/hcl/main_test.go
  pkg/plugins/resources/terraform/lock/condition.go
  pkg/plugins/resources/terraform/lock/condition_test.go
  pkg/plugins/resources/terraform/lock/main.go
  pkg/plugins/resources/terraform/lock/main_test.go
  pkg/plugins/resources/terraform/lock/source.go
  pkg/plugins/resources/terraform/lock/spec.go
  pkg/plugins/resources/terraform/lock/spec_test.go
  pkg/plugins/resources/terraform/lock/target.go
  pkg/plugins/resources/terraform/lock/target_test.go
  pkg/plugins/resources/terraform/lock/testdata/terraform-constraints.lock.hcl
  pkg/plugins/resources/terraform/lock/testdata/terraform.lock.hcl
  pkg/plugins/resources/terraform/lock/utils.go
  pkg/plugins/resources/terraform/provider/condition.go
  pkg/plugins/resources/terraform/provider/condition_test.go
  pkg/plugins/resources/terraform/provider/main.go
  pkg/plugins/resources/terraform/provider/main_test.go
  pkg/plugins/resources/terraform/provider/source.go
  pkg/plugins/resources/terraform/provider/spec.go
  pkg/plugins/resources/terraform/provider/spec_test.go
  pkg/plugins/resources/terraform/provider/target.go
  pkg/plugins/resources/terraform/provider/target_test.go
  pkg/plugins/resources/terraform/provider/testdata/versions.tf
  pkg/plugins/resources/terraform/utils.go
Labels: enhancement, resource-terraform

#1565 Adding new name to ADOPTERS.md
  ADOPTERS.md
Labels: skip-changelog

#1541 fix: HelmChart always bumps Chart Version
  pkg/plugins/resources/helm/target.go
  pkg/plugins/resources/helm/target_test.go
  pkg/plugins/resources/helm/utils.go
  pkg/plugins/resources/helm/validate_test.go
  pkg/plugins/resources/yaml/target.go
  pkg/plugins/utils/gitgeneric/file.go
  pkg/plugins/utils/gitgeneric/file_test.go
Labels: enhancement, resource-helm

#1570 Move jsonschema test from patternProperties to additionalProperties
  go.mod
  go.sum
  pkg/core/jsonschema/main_test.go
Labels: jsonschema

#1572 Revert "Disable Helm autodiscovery version increment by default"
  pkg/plugins/autodiscovery/helm/main.go
  pkg/plugins/autodiscovery/helm/test/main_test.go
Labels: resource-helm

#1574 Show version in Golang autodiscovery target name
  pkg/plugins/autodiscovery/golang/dependency.go
  pkg/plugins/autodiscovery/golang/manifestTemplate.go
  pkg/plugins/autodiscovery/golang/test/main_test.go
Labels: enhancement

#1592 Correctly set json resource result
  pkg/plugins/resources/json/spec.go
  pkg/plugins/resources/json/target.go
Labels: bug, resource-json

#1604 feat: dockerimage support for setting os and variant
  .github/actions/spelling/allow.txt
  pkg/plugins/resources/dockerimage/condition.go
  pkg/plugins/resources/dockerimage/condition_test.go
  pkg/plugins/resources/dockerimage/main.go
  pkg/plugins/resources/dockerimage/spec.go
Labels: enhancement

#1615 fix: dockerimage correctly set auth if arch unspecified
  pkg/plugins/resources/dockerimage/main.go
Labels: bug, resource-docker

#1616 Run helm chart metadata update only on a changed target
  pkg/plugins/resources/helm/utils.go
Labels: bug

#1593 feat: add new `auto` versionincrement field for helmchart resource
  pkg/plugins/resources/helm/main.go
  pkg/plugins/resources/helm/target_test.go
  pkg/plugins/resources/helm/testdata/values.yaml
  pkg/plugins/resources/helm/utils.go
  pkg/plugins/resources/helm/validate.go
  pkg/plugins/resources/helm/validate_test.go
Labels: enhancement, resource-helm

#1629 fix: sort terraform autodiscovery manifest during test
  pkg/plugins/autodiscovery/terraform/test/main_test.go
  pkg/plugins/utils/test/main.go
Labels: autodiscovery

#1641 feat: add `skippackaging` option to helm target
  .github/actions/spelling/allow.txt
  pkg/plugins/resources/helm/main.go
  pkg/plugins/resources/helm/target.go
Labels: enhancement, resource-helm
