Repository updatecli/updatecli, pull requests merged in 2023-03, with the labels that each got.

#1192 remove scms mention from some of the yaml e2e tests
  e2e/updatecli.d/success.d/yaml/duplicate.yaml
  e2e/updatecli.d/success.d/yaml/noscm.yaml
Labels: bug, skip-changelog

#1196 clean value filepath
  pkg/core/config/template.go
Labels: bug

#1201 add more information for disableinputsource
  pkg/core/pipeline/target/main.go
Labels: documentation, ux

#1212 Correctly handle XML file path
  pkg/plugins/resources/xml/condition.go
  pkg/plugins/resources/xml/main.go
  pkg/plugins/resources/xml/source.go
  pkg/plugins/resources/xml/target.go
  pkg/plugins/resources/xml/target_test.go
Labels: bug, resource-xml

#1220 Correctly handle pagination for gitea api request
  pkg/plugins/resources/gitea/branch/main.go
  pkg/plugins/resources/gitea/pullrequest/utils.go
  pkg/plugins/resources/gitea/release/main.go
  pkg/plugins/resources/gitea/tag/main.go
Labels: bug, gitea-pullrequest, scm-gittea, gitea-tag

#1219 Add Gitlab support
  e2e/updatecli.d/success.d/gitlab/branch.yaml
  e2e/updatecli.d/success.d/gitlab/release.yaml
  e2e/updatecli.d/success.d/gitlab/scm.yaml
  e2e/updatecli.d/success.d/gitlab/tag.yaml
  pkg/core/pipeline/action/main.go
  pkg/core/pipeline/resource/main.go
  pkg/core/pipeline/scm/config.go
  pkg/core/pipeline/scm/main.go
  pkg/plugins/resources/gitlab/branch/changelog.go
  pkg/plugins/resources/gitlab/branch/condition.go
  pkg/plugins/resources/gitlab/branch/condition_test.go
  pkg/plugins/resources/gitlab/branch/main.go
  pkg/plugins/resources/gitlab/branch/source.go
  pkg/plugins/resources/gitlab/branch/source_test.go
  pkg/plugins/resources/gitlab/branch/target.go
  pkg/plugins/resources/gitlab/client/main.go
  pkg/plugins/resources/gitlab/mergerequest/create.go
  pkg/plugins/resources/gitlab/mergerequest/main.go
  pkg/plugins/resources/gitlab/mergerequest/main_test.go
  pkg/plugins/resources/gitlab/mergerequest/utils.go
  pkg/plugins/resources/gitlab/release/changelog.go
  pkg/plugins/resources/gitlab/release/condition.go
  pkg/plugins/resources/gitlab/release/condition_test.go
  pkg/plugins/resources/gitlab/release/main.go
  pkg/plugins/resources/gitlab/release/source.go
  pkg/plugins/resources/gitlab/release/source_test.go
  pkg/plugins/resources/gitlab/release/target.go
  pkg/plugins/resources/gitlab/tag/changelog.go
  pkg/plugins/resources/gitlab/tag/condition.go
  pkg/plugins/resources/gitlab/tag/condition_test.go
  pkg/plugins/resources/gitlab/tag/main.go
  pkg/plugins/resources/gitlab/tag/source.go
  pkg/plugins/resources/gitlab/tag/source_test.go
  pkg/plugins/resources/gitlab/tag/target.go
  pkg/plugins/scms/gitlab/main.go
  pkg/plugins/scms/gitlab/scm.go
  pkg/plugins/scms/gitlab/util.go
Labels: enhancement, scm-gitlab

#1234 fix: gitlab url with https prefix
  pkg/plugins/resources/gitlab/client/main.go
  pkg/plugins/scms/gitlab/scm.go
Labels: bug, scm-gitlab

#1246 Add Bitbucket Server (Stash)
  pkg/core/pipeline/action/main.go
  pkg/core/pipeline/scm/config.go
  pkg/core/pipeline/scm/main.go
  pkg/plugins/resources/stash/branch/changelog.go
  pkg/plugins/resources/stash/branch/condition.go
  pkg/plugins/resources/stash/branch/main.go
  pkg/plugins/resources/stash/branch/source.go
  pkg/plugins/resources/stash/branch/target.go
  pkg/plugins/resources/stash/client/main.go
  pkg/plugins/resources/stash/pullrequest/create.go
  pkg/plugins/resources/stash/pullrequest/main.go
  pkg/plugins/resources/stash/pullrequest/utils.go
  pkg/plugins/resources/stash/release/changelog.go
  pkg/plugins/resources/stash/release/condition.go
  pkg/plugins/resources/stash/release/main.go
  pkg/plugins/resources/stash/release/source.go
  pkg/plugins/resources/stash/release/target.go
  pkg/plugins/resources/stash/tag/changelog.go
  pkg/plugins/resources/stash/tag/condition.go
  pkg/plugins/resources/stash/tag/main.go
  pkg/plugins/resources/stash/tag/source.go
  pkg/plugins/resources/stash/tag/target.go
  pkg/plugins/scms/stash/main.go
  pkg/plugins/scms/stash/scm.go
  pkg/plugins/scms/stash/util.go
Labels: enhancement, scm-stash

#1249 [s][c] Add resource stash/tag and stash/branch
  pkg/core/pipeline/resource/main.go
Labels: enhancement

#1254 Disable GitHub auto merge flag
  pkg/plugins/scms/github/pullrequest.go
Labels: pullrequest-github
