Repository updatecli/updatecli, pull requests merged in 2023-06, with the labels that each got.

#1356 Add SCM information to pipeline report
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/scm/main.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/target/main.go
  pkg/core/result/condition.go
  pkg/core/result/scm.go
  pkg/core/result/source.go
  pkg/core/result/target.go
  pkg/plugins/resources/gitea/pullrequest/main_test.go
  pkg/plugins/resources/gitea/pullrequest/utils.go
  pkg/plugins/resources/gitlab/mergerequest/main_test.go
  pkg/plugins/resources/gitlab/mergerequest/utils.go
  pkg/plugins/resources/stash/pullrequest/create.go
  pkg/plugins/resources/stash/pullrequest/utils.go
  pkg/plugins/scms/git/main.go
  pkg/plugins/scms/git/scm.go
  pkg/plugins/scms/gitea/main.go
  pkg/plugins/scms/gitea/scm.go
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/main_test.go
  pkg/plugins/scms/github/pullrequest.go
  pkg/plugins/scms/github/scm.go
  pkg/plugins/scms/gitlab/main.go
  pkg/plugins/scms/gitlab/scm.go
  pkg/plugins/scms/stash/main.go
  pkg/plugins/scms/stash/scm.go
  pkg/plugins/scms/stash/util.go
Labels: enhancement, scm-github, scm-git, reports, scm-gittea, scm-gitlab, scm-stash

#1357 Add Autodiscovery versionFilter for "minoronly" and "majoronly" semver update
  .github/actions/spelling/allow.txt
  pkg/plugins/utils/version/filter.go
  pkg/plugins/utils/version/filter_test.go
Labels: enhancement, autodiscovery

#1358 Allow to override default versionfilter for helm autodiscovery
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/warning.d/autodiscovery/helm/example.versionfilter.yaml
  pkg/plugins/autodiscovery/helm/container.go
  pkg/plugins/autodiscovery/helm/dependencies.go
  pkg/plugins/autodiscovery/helm/main.go
Labels: autodiscovery, resource-helm

#1361 Allow Fleet autodiscovery to override default version filter
  e2e/updatecli.d/warning.d/autodiscovery/fleet/githubPullrequest.yaml
  pkg/plugins/autodiscovery/fleet/dependencies.go
  pkg/plugins/autodiscovery/fleet/main.go
Labels: autodiscovery

#1360 Allow NPM autodiscovery to override default version filter
  e2e/updatecli.d/warning.d/autodiscovery/npm/npm.versionfilter.yaml
  e2e/updatecli.d/warning.d/autodiscovery/npm/npm.yaml
  pkg/plugins/autodiscovery/npm/dependency.go
  pkg/plugins/autodiscovery/npm/main.go
Labels: autodiscovery, resource-npm

#1365 Add cargo autodiscovery versionfilter
  e2e/updatecli.d/warning.d/autodiscovery/cargo/kubewarden.versionfilter.yaml
  pkg/plugins/autodiscovery/cargo/dependencies.go
  pkg/plugins/autodiscovery/cargo/main.go
  pkg/plugins/autodiscovery/npm/dependency.go
Labels: autodiscovery, resource-cargo

#1368 Fix dockerfile target result in case of success
  pkg/plugins/resources/dockerfile/target.go
Labels: bug, resource-dockerfile

#1367 Allow to override dockerfile autodiscovery versionfilter
  e2e/updatecli.d/warning.d/autodiscovery/dockerfile/versionfilter.yaml
  pkg/plugins/autodiscovery/dockerfile/dockerfile.go
  pkg/plugins/autodiscovery/dockerfile/main.go
Labels: resource-dockerfile, autodiscovery

#1369 reset tagfilter when helm autodiscovery rely on versionfilter
  pkg/plugins/autodiscovery/helm/container.go
Labels: autodiscovery, resource-helm

#1366 Add dockercompose autodiscovery versionfilter
  e2e/updatecli.d/warning.d/autodiscovery/docker-compose/example.4.yaml
  pkg/plugins/autodiscovery/dockercompose/compose.go
  pkg/plugins/autodiscovery/dockercompose/main.go
Labels: autodiscovery, docker-compose

#1375 Add versionfilter to maven resource
  e2e/updatecli.d/success.d/maven.yaml
  pkg/plugins/resources/jenkins/main.go
  pkg/plugins/resources/jenkins/main_test.go
  pkg/plugins/resources/maven/main.go
  pkg/plugins/utils/mavenmetadata/main.go
  pkg/plugins/utils/mavenmetadata/main_test.go
  pkg/plugins/utils/mavenmetadata/types.go
Labels: enhancement, resource-mavenrepository

#1376 Allow Maven autodiscovery to override default version filter
  e2e/updatecli.d/warning.d/autodiscovery/maven/git.yaml
  pkg/plugins/autodiscovery/maven/dependency.go
  pkg/plugins/autodiscovery/maven/dependencyManagement.go
  pkg/plugins/autodiscovery/maven/main.go
  pkg/plugins/autodiscovery/maven/manifestTemplate.go
  pkg/plugins/autodiscovery/maven/parentPomdependency.go
  pkg/plugins/autodiscovery/maven/test/main_test.go
  pkg/plugins/resources/xml/condition.go
Labels: resource-mavenrepository, autodiscovery

#1377 Allowing the support for missing keys in Toml
  pkg/plugins/resources/toml/spec.go
  pkg/plugins/resources/toml/target.go
  pkg/plugins/resources/toml/target_test.go
Labels: enhancement, target, resource-toml

#1386 [giteal][gitlab] git checkout must use `username` instead of `user`
  pkg/plugins/scms/gitea/scm.go
  pkg/plugins/scms/gitlab/scm.go
Labels: bug, scm-gittea, scm-gitlab

#1393 fix: reference must be defined once at the beginning
  e2e/updatecli.d/success.d/gitTag.yaml
  pkg/plugins/utils/gitgeneric/main.go
Labels: bug, scm-gittea, gitea-tag
