Repository updatecli/updatecli, pull requests merged in 2023-02, with the labels that each got.

#1065 Add NPM autodiscovery
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/npm/dependency.go
  pkg/plugins/autodiscovery/npm/main.go
  pkg/plugins/autodiscovery/npm/manifestTemplate.go
  pkg/plugins/autodiscovery/npm/matchingRule.go
  pkg/plugins/autodiscovery/npm/packageJsonData.go
  pkg/plugins/autodiscovery/npm/test/main_test.go
  pkg/plugins/autodiscovery/npm/test/testdata/nolockfile/node_modules/package.json
  pkg/plugins/autodiscovery/npm/test/testdata/nolockfile/package.json
  pkg/plugins/autodiscovery/npm/test/testdata/npmlockfile/package-lock.json
  pkg/plugins/autodiscovery/npm/test/testdata/npmlockfile/package.json
  pkg/plugins/autodiscovery/npm/test/testdata/yarnlockfile/package.json
  pkg/plugins/autodiscovery/npm/utils.go
  pkg/plugins/autodiscovery/npm/utils_test.go
  pkg/plugins/resources/shell/changeIf.go
  pkg/plugins/resources/shell/main.go
  pkg/plugins/resources/shell/success/checksum/main.go
Labels: enhancement, autodiscovery, resource-npm

#1127 Git Tag target shouldn't fail
  pkg/plugins/resources/gittag/target.go
Labels: bug, target, resource-gittag

#1132 Add the ability to use source in commit message
  pkg/core/pipeline/actions.go
  pkg/core/pipeline/conditions.go
  pkg/core/pipeline/main.go
  pkg/core/pipeline/sources.go
  pkg/core/pipeline/targets.go
Labels: bug

#1094 Add Cargo package autodiscovery
  e2e/updatecli.d/warning.d/autodiscovery/cargo/example.1.yaml
  e2e/updatecli.d/warning.d/autodiscovery/cargo/kubewarden.yaml
  pkg/core/engine/main.go
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/cargo/dependencies.go
  pkg/plugins/autodiscovery/cargo/dependencyManifest.go
  pkg/plugins/autodiscovery/cargo/main.go
  pkg/plugins/autodiscovery/cargo/matchingRule.go
  pkg/plugins/autodiscovery/cargo/test/main_test.go
  pkg/plugins/autodiscovery/cargo/test/testdata/Cargo.toml
  pkg/plugins/autodiscovery/cargo/utils.go
  pkg/plugins/resources/cargopackage/condition.go
  pkg/plugins/resources/cargopackage/condition_test.go
  pkg/plugins/resources/cargopackage/main.go
  pkg/plugins/resources/cargopackage/main_test.go
  pkg/plugins/resources/cargopackage/source.go
  pkg/plugins/resources/cargopackage/source_test.go
  pkg/plugins/resources/cargopackage/spec.go
  pkg/plugins/resources/cargopackage/test_utils.go
  pkg/plugins/utils/cargo/main.go
Labels: enhancement, autodiscovery, resource-cargo

#1141 adopters: add Elastic
  ADOPTERS.md
Labels: documentation

#1148 yaml target should be able to parse key containing dots
  pkg/plugins/resources/yaml/condition_test.go
  pkg/plugins/resources/yaml/source_test.go
  pkg/plugins/resources/yaml/target.go
  pkg/plugins/resources/yaml/target_test.go
Labels: bug, target, resource-yaml

#1155 fix: shell changedif workdir
  pkg/plugins/resources/shell/condition.go
  pkg/plugins/resources/shell/source.go
  pkg/plugins/resources/shell/target.go
Labels: bug, resource-shell

#1165 Bump golangci version to 1.51
  .github/workflows/go.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/resources/yaml/main.go
Labels: skip-changelog

#1143 Automate aur package publish after each release
  .goreleaser.yml
Labels: enhancement

#1174 Execute action in DRY_RUN mode if apply parameter --push=false is set
  pkg/core/pipeline/actions.go
Labels: bug, actions

#1176 Only git reset operation after a git clone
  pkg/plugins/scms/git/main.go
  pkg/plugins/scms/git/scm.go
  pkg/plugins/scms/gitea/scm.go
  pkg/plugins/scms/github/scm.go
  pkg/plugins/utils/gitgeneric/main.go
Labels: bug, scm-github, scm-git, scm-gittea

#1170 Target using SCM should be indempotent
  pkg/core/config/defaults_test.go
  pkg/core/pipeline/scm/config.go
  pkg/core/pipeline/scm/main.go
  pkg/core/pipeline/target/main.go
  pkg/plugins/scms/git/scm.go
  pkg/plugins/scms/gitea/scm.go
  pkg/plugins/scms/github/pullrequest.go
  pkg/plugins/scms/github/scm.go
  pkg/plugins/utils/gitgeneric/main.go
Labels: scm-github, scm-git, scm-gittea

#1177 feat(core/config): make Sprig functions available in config template
  go.mod
  go.sum
  pkg/core/config/main.go
  pkg/core/config/template.go
  pkg/core/config/template_test.go
Labels: enhancement

#1182 Add upstream option for GitHub pull-request
  go.mod
  go.sum
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/pullrequest.go
Labels: enhancement
