Repository updatecli/updatecli, pull requests merged in 2023-11, with the labels that each got.

#1739 feat(dockerfile) support multiple files
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/dockerfile/Dockerfile
  e2e/updatecli.d/success.d/dockerfile/Dockerfile.nanoserver
  e2e/updatecli.d/success.d/dockerfile/Dockerfile.windowscore
  e2e/updatecli.d/success.d/dockerfile/dockerfile.yaml
  pkg/plugins/resources/dockerfile/condition.go
  pkg/plugins/resources/dockerfile/condition_test.go
  pkg/plugins/resources/dockerfile/main.go
  pkg/plugins/resources/dockerfile/main_test.go
  pkg/plugins/resources/dockerfile/target.go
  pkg/plugins/resources/dockerfile/target_test.go
Labels: enhancement, target, condition, resource-dockerfile

#1737 feat(action): show CI url in pullrequest body
  .github/actions/spelling/allow.txt
  pkg/core/pipeline/action/main.go
  pkg/core/pipeline/actions.go
  pkg/core/reports/action.go
Labels: enhancement

#1741 feat(yaml): add yaml path support by using another engine
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/yaml/noscm.yaml
  go.mod
  go.sum
  pkg/plugins/resources/yaml/condition.go
  pkg/plugins/resources/yaml/condition_test.go
  pkg/plugins/resources/yaml/engine.go
  pkg/plugins/resources/yaml/main.go
  pkg/plugins/resources/yaml/source.go
  pkg/plugins/resources/yaml/source_test.go
  pkg/plugins/resources/yaml/target.go
  pkg/plugins/resources/yaml/target_test.go
Labels: enhancement, resource-yaml

#1742 fix(autodiscovery): fix default autodiscovery action title
  pkg/core/engine/autodiscovery.go
Labels: bug

#1740 chore(actions) avoid code duplication for report's PipelineURL generation
  .github/actions/spelling/allow.txt
  pkg/core/reports/action.go
  pkg/plugins/utils/ci/githubactions.go
  pkg/plugins/utils/ci/gitlabci.go
  pkg/plugins/utils/ci/jenkins.go
  pkg/plugins/utils/ci/main.go
  pkg/plugins/utils/ci/main_test.go
Labels: skip-changelog

#1750 fix(autodiscovery/dockerfile): allow multiple ignore rule
  pkg/plugins/autodiscovery/dockerfile/matchingRule.go
  pkg/plugins/autodiscovery/dockerfile/matchingRule_test.go
Labels: bug, autodiscovery

#1751 fix(autodiscovery/dockercompose): allow multiple ignore rule
  pkg/plugins/autodiscovery/dockercompose/matchingRule.go
  pkg/plugins/autodiscovery/dockercompose/matchingRule_test.go
Labels: bug, autodiscovery

#1749 feat(autodiscovery/updatecli): Add updatecli compose autodiscovery
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/warning.d/autodiscovery/updatecli/git.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/updatecli/main.go
  pkg/plugins/autodiscovery/updatecli/manifestTemplate.go
  pkg/plugins/autodiscovery/updatecli/matchingRule.go
  pkg/plugins/autodiscovery/updatecli/matchingRule_test.go
  pkg/plugins/autodiscovery/updatecli/policies.go
  pkg/plugins/autodiscovery/updatecli/test/main_test.go
  pkg/plugins/autodiscovery/updatecli/test/testdata/website/update-compose.yaml
  pkg/plugins/autodiscovery/updatecli/utils.go
  pkg/plugins/autodiscovery/updatecli/utils_test.go
Labels: enhancement, autodiscovery, updatecli-policies

#1752 feat(autodiscovery/helm) allow advanced ignore/only rule
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/warning.d/autodiscovery/helm/example.1.yaml
  pkg/plugins/autodiscovery/helm/container.go
  pkg/plugins/autodiscovery/helm/dependencies.go
  pkg/plugins/autodiscovery/helm/matchingRule.go
  pkg/plugins/autodiscovery/helm/matchingRule_test.go
Labels: enhancement, autodiscovery

#1754 feat(autodiscovery/helmfile): allow advanced ignore/only rule
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/warning.d/autodiscovery/helmfile/example.1.yaml
  pkg/plugins/autodiscovery/helmfile/matchingRule.go
  pkg/plugins/autodiscovery/helmfile/matchingRule_test.go
  pkg/plugins/autodiscovery/helmfile/releases.go
Labels: enhancement, autodiscovery

#1755 feat(autodiscovery/fleet): allow advanced ignore/only rule
  e2e/updatecli.d/warning.d/autodiscovery/fleet/git.yaml
  pkg/plugins/autodiscovery/fleet/dependencies.go
  pkg/plugins/autodiscovery/fleet/matchingRule.go
  pkg/plugins/autodiscovery/fleet/matchingRule_test.go
Labels: enhancement, autodiscovery

#1756 feat(autodiscovery/maven): allow advanced ignore/only rule
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/warning.d/autodiscovery/maven/git.yaml
  pkg/plugins/autodiscovery/maven/dependency.go
  pkg/plugins/autodiscovery/maven/dependencyManagement.go
  pkg/plugins/autodiscovery/maven/matchingRule.go
  pkg/plugins/autodiscovery/maven/matchingRule_test.go
  pkg/plugins/autodiscovery/maven/parentPomdependency.go
Labels: enhancement, autodiscovery

#1738 feat(file): Allows to use file pattern in the file/files key
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/file/noscm.yaml
  e2e/updatecli.d/success.d/file/scm.yaml
  pkg/plugins/resources/file/condition.go
  pkg/plugins/resources/file/main.go
  pkg/plugins/resources/file/source.go
  pkg/plugins/resources/file/target.go
  pkg/plugins/utils/filepath.go
  pkg/plugins/utils/filepath_test.go
Labels: enhancement, resource-file

#1757 feat(autodiscovery/cargo): allow advanced ignore/only rule
  e2e/updatecli.d/warning.d/autodiscovery/cargo/kubewarden.yaml
  pkg/plugins/autodiscovery/cargo/dependencies.go
  pkg/plugins/autodiscovery/cargo/matchingRule.go
  pkg/plugins/autodiscovery/cargo/matchingRule_test.go
  pkg/plugins/autodiscovery/cargo/utils.go
Labels: enhancement, autodiscovery

#1758 feat(git): allow to decide if we want to fetch submodules or not
  pkg/plugins/scms/git/main.go
  pkg/plugins/scms/git/main_test.go
  pkg/plugins/scms/git/scm.go
  pkg/plugins/scms/gitea/main.go
  pkg/plugins/scms/gitea/scm.go
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/scm.go
  pkg/plugins/scms/gitlab/main.go
  pkg/plugins/scms/gitlab/scm.go
  pkg/plugins/scms/stash/main.go
  pkg/plugins/scms/stash/scm.go
  pkg/plugins/utils/gitgeneric/branch_test.go
  pkg/plugins/utils/gitgeneric/main.go
  pkg/plugins/utils/gitgeneric/main_test.go
Labels: enhancement, scm-github, scm-git, scm-gittea, scm-gitlab

#1762 chore: remove helper package that is not used anymore
  pkg/core/helpers/main.go
Labels: cleanup

#1761 chore: remove usage of io/ioutil package as deprecated since Go 1.16
  pkg/plugins/resources/dockerfile/simpletextparser/main_test.go
  pkg/plugins/resources/terraform/registry/condition_test.go
  pkg/plugins/resources/terraform/registry/registry_test.go
  pkg/plugins/resources/terraform/registry/source_test.go
  pkg/plugins/utils/mavenmetadata/main.go
  pkg/plugins/utils/mavenmetadata/main_test.go
Labels: cleanup

#1764 fix(action): action fails if CI is not detected
  pkg/core/reports/action.go
Labels: bug, actions

#1766 fix(file): ignore searchpattern not found when used with matchpattern
  pkg/plugins/resources/file/condition.go
  pkg/plugins/resources/file/source.go
  pkg/plugins/resources/file/target.go
Labels: bug, resource-file

#1773 feat: introduces a new resource "http" (source only)
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/http.yaml
  pkg/core/pipeline/resource/main.go
  pkg/plugins/resources/cargopackage/spec.go
  pkg/plugins/resources/file/condition.go
  pkg/plugins/resources/updateclihttp/condition.go
  pkg/plugins/resources/updateclihttp/condition_test.go
  pkg/plugins/resources/updateclihttp/errors.go
  pkg/plugins/resources/updateclihttp/main.go
  pkg/plugins/resources/updateclihttp/main_test.go
  pkg/plugins/resources/updateclihttp/source.go
  pkg/plugins/resources/updateclihttp/source_test.go
  pkg/plugins/resources/updateclihttp/spec.go
  pkg/plugins/resources/updateclihttp/target.go
Labels: enhancement, source, condition, http

#1779 fix: update fleet git repository used for e2e test
  e2e/updatecli.d/warning.d/autodiscovery/fleet/git.yaml
  e2e/updatecli.d/warning.d/autodiscovery/fleet/githubPullrequest.yaml
Labels: chore, skip-changelog

#1776 chore(tests) test and lint fixes
  .github/actions/spelling/allow.txt
  Makefile
  pkg/core/compose/main_test.go
  pkg/core/pipeline/resource/main.go
  pkg/core/pipeline/target/main.go
  pkg/core/registry/pullpush_test.go
  pkg/plugins/resources/gitbranch/main.go
  pkg/plugins/resources/updateclihttp/target.go
Labels: skip-changelog

#1783 fix: always set report name
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/conditions.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/sources.go
  pkg/core/pipeline/target/main.go
  pkg/core/pipeline/targets.go
Labels: bug

#1787 deps: bump github.com/invopo/jsonschema to v0.12.0
  go.mod
  go.sum
  pkg/core/jsonschema/main.go
Labels: dependencies

#1788 deps: bump golangci version to 1.55.2
  .github/workflows/go.yaml
  pkg/core/engine/scm.go
  pkg/core/pipeline/sort_test.go
  pkg/core/reports/action_test.go
  pkg/plugins/resources/shell/condition_test.go
  pkg/plugins/resources/shell/source_test.go
  pkg/plugins/resources/shell/success/console/main_test.go
  pkg/plugins/resources/shell/success/exitcode/main_test.go
  pkg/plugins/resources/shell/target_test.go
Labels: dependencies
