Repository updatecli/updatecli, pull requests merged in 2024-12, with the labels that each got.

#3203 feat: allow to login on Udash without auth enabled
  cmd/root.go
  cmd/udash_login.go
  pkg/core/udash/config_spec.go
  pkg/core/udash/login.go
  pkg/core/udash/logout.go
  pkg/core/udash/main.go
  pkg/core/udash/publish.go
  pkg/core/udash/token.go
Labels: experimental, udash

#3224 fix(stash): use markdown body instead of html
  pkg/plugins/resources/stash/pullrequest/create.go
Labels: bug, scm-stash

#3223 feat: display action result in Summary
  pkg/core/engine/manifest_upgrade.go
  pkg/core/engine/reports.go
  pkg/core/engine/run.go
  pkg/core/pipeline/action/main.go
  pkg/core/pipeline/actions.go
  pkg/core/reports/action.go
  pkg/core/reports/action_markdown_template.go
  pkg/core/reports/action_test.go
  pkg/core/reports/main.go
  pkg/core/reports/report.go
  pkg/core/result/scm.go
  pkg/core/udash/publish.go
  pkg/plugins/resources/bitbucket/pullrequest/clean.go
  pkg/plugins/resources/bitbucket/pullrequest/create.go
  pkg/plugins/resources/bitbucket/pullrequest/exist.go
  pkg/plugins/resources/bitbucket/pullrequest/utils.go
  pkg/plugins/resources/gitea/pullrequest/clean.go
  pkg/plugins/resources/gitea/pullrequest/create.go
  pkg/plugins/resources/gitea/pullrequest/exist.go
  pkg/plugins/resources/gitea/pullrequest/utils.go
  pkg/plugins/resources/gitlab/mergerequest/clean.go
  pkg/plugins/resources/gitlab/mergerequest/create.go
  pkg/plugins/resources/gitlab/mergerequest/exist.go
  pkg/plugins/resources/gitlab/mergerequest/utils.go
  pkg/plugins/resources/stash/pullrequest/clean.go
  pkg/plugins/resources/stash/pullrequest/create.go
  pkg/plugins/resources/stash/pullrequest/exist.go
  pkg/plugins/resources/stash/pullrequest/utils.go
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/pullrequest.go
Labels: enhancement, actions

#3291 feat: allow to deepmerge multiple values file
  go.mod
  pkg/core/config/template.go
  pkg/core/config/template_test.go
Labels: enhancement

#3270 feat(maven): Support settings.xml for setting credentials and mirrors
  pkg/plugins/autodiscovery/maven/dependency.go
  pkg/plugins/autodiscovery/maven/dependencyManagement.go
  pkg/plugins/autodiscovery/maven/dependencyParentPom.go
  pkg/plugins/autodiscovery/maven/main.go
  pkg/plugins/autodiscovery/maven/main_test.go
  pkg/plugins/autodiscovery/maven/settings_xml.go
  pkg/plugins/autodiscovery/maven/settings_xml_test.go
  pkg/plugins/autodiscovery/maven/test/main_test.go
  pkg/plugins/autodiscovery/maven/testdata/default/pom.xml
  pkg/plugins/autodiscovery/maven/testdata/default/settings.xml
  pkg/plugins/autodiscovery/maven/testdata/exclude/pom.xml
  pkg/plugins/autodiscovery/maven/testdata/exclude/settings.xml
  pkg/plugins/autodiscovery/maven/testdata/externalhttp/pom.xml
  pkg/plugins/autodiscovery/maven/testdata/externalhttp/settings.xml
  pkg/plugins/autodiscovery/maven/testdata/jenkins-datadog-plugin/pom.xml
  pkg/plugins/autodiscovery/maven/utils.go
  pkg/plugins/autodiscovery/maven/utils_test.go
Labels: enhancement, resource-mavenrepository, autodiscovery

#3347 feat: add version filter regex/semver
  pkg/plugins/utils/version/filter.go
  pkg/plugins/utils/version/filter_test.go
Labels: enhancement, versioning, core
