Repository updatecli/updatecli, pull requests merged in 2024-07, with the labels that each got.

#2268 fix(npm-source): Deprecated field can be bool
  pkg/plugins/resources/npm/main.go
Labels: bug, resource-npm

#2278 feat: Remove authentication requirement to publish reports to Udash
  pkg/core/engine/udash.go
  pkg/core/pipeline/main.go
  pkg/core/reports/main.go
  pkg/core/reports/report.go
  pkg/core/udash/helpers.go
  pkg/core/udash/publish.go
Labels: enhancement, experimental, udash

#2265 feat(.tool-versions): support for a new tool
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/toolversions.yaml
  go.mod
  pkg/core/pipeline/resource/main.go
  pkg/plugins/resources/toolversions/changelog.go
  pkg/plugins/resources/toolversions/condition.go
  pkg/plugins/resources/toolversions/condition_test.go
  pkg/plugins/resources/toolversions/main.go
  pkg/plugins/resources/toolversions/source.go
  pkg/plugins/resources/toolversions/source_test.go
  pkg/plugins/resources/toolversions/spec.go
  pkg/plugins/resources/toolversions/target.go
  pkg/plugins/resources/toolversions/target_test.go
  pkg/plugins/resources/toolversions/testdata/.tool-versions
  pkg/plugins/resources/toolversions/utils.go
  pkg/plugins/resources/toolversions/utils_test.go
  pkg/plugins/utils/toolversions/get.go
  pkg/plugins/utils/toolversions/get_test.go
  pkg/plugins/utils/toolversions/helper.go
  pkg/plugins/utils/toolversions/helper_test.go
  pkg/plugins/utils/toolversions/main.go
  pkg/plugins/utils/toolversions/put.go
  pkg/plugins/utils/toolversions/put_test.go
  pkg/plugins/utils/toolversions/read.go
  pkg/plugins/utils/toolversions/read_test.go
  pkg/plugins/utils/toolversions/write.go
  pkg/plugins/utils/toolversions/write_test.go
Labels: enhancement, plugin-tool-versions

#2291 fix(ux): Use default compose filename updatecli-compose.yaml
  cmd/compose.go
  cmd/compose_apply.go
  cmd/compose_diff.go
  cmd/compose_show.go
  pkg/core/compose/file.go
  pkg/core/compose/main_test.go
  pkg/core/compose/testdata/updatecli-compose.yaml
  pkg/core/scaffold/readme.go
  pkg/plugins/autodiscovery/updatecli/matchingRule_test.go
  pkg/plugins/autodiscovery/updatecli/policies.go
  pkg/plugins/autodiscovery/updatecli/test/main_test.go
  pkg/plugins/autodiscovery/updatecli/test/testdata/website/updatecli-compose.yaml
  pkg/plugins/autodiscovery/updatecli/utils_test.go
Labels: deprecated, update-compose

#2294 chore: show updatecli compose information on console output
  pkg/core/compose/file.go
  pkg/core/compose/main.go
Labels: ux, update-compose

#2305 chore: rename update-compose.yaml to updatecli-compose.yaml
  updatecli-compose.yaml
  updatecli/values.d/update-compose.yaml
  updatecli/values.d/updatecli-compose.yaml
Labels: skip-changelog

#2326 Add easy link to adopters.md
  ADOPTERS.md
Labels: skip-changelog

#2316 feat: Allow the dockerimage plugin to retrieve changelog information
  .github/actions/spelling/allow.txt
  go.mod
  go.sum
  pkg/core/registry/metadata.go
  pkg/core/registry/pull.go
  pkg/core/registry/pullpush_test.go
  pkg/core/registry/push.go
  pkg/core/registry/utils.go
  pkg/plugins/changelog/markdown/main.go
  pkg/plugins/changelog/markdown/main_test.go
  pkg/plugins/resources/dockerimage/changelog.go
  pkg/plugins/resources/dockerimage/changelog_test.go
  pkg/plugins/resources/dockerimage/main.go
Labels: enhancement, resource-docker

#2336 fix: correctly pull remote branches when using GitHub api
  pkg/plugins/scms/github/scm.go
  pkg/plugins/utils/gitgeneric/main.go
Labels: scm-github

#2344 feat: moving github parameter `usingcommitapi` out of experimental
  pkg/plugins/scms/github/main.go
Labels: enhancement, scm-github

#2350 feat: configure Updatecli to sign commit
  updatecli/values.d/scm.yaml
Labels: skip-changelog

#2393 feat(transformers) show transformation as info messages
  pkg/core/transformer/main.go
Labels: enhancement, transformers

#2388 fix: use GitHub username to commit via GitHub instead of git user
  pkg/plugins/scms/github/scm.go
Labels: bug, scm-github

#2414 fix: misleading transformer error message
  pkg/core/transformer/main.go
  pkg/core/transformer/main_test.go
Labels: bug, ux

#2400 feat: add terragrunt autodiscovery
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/autodiscovery/terragrunt/example.1.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/terragrunt/main.go
  pkg/plugins/autodiscovery/terragrunt/manifest_template.go
  pkg/plugins/autodiscovery/terragrunt/matching_rule.go
  pkg/plugins/autodiscovery/terragrunt/matching_rule_test.go
  pkg/plugins/autodiscovery/terragrunt/modules.go
  pkg/plugins/autodiscovery/terragrunt/spec.go
  pkg/plugins/autodiscovery/terragrunt/test/main_test.go
  pkg/plugins/autodiscovery/terragrunt/test/testdata/complex_localized.hcl
  pkg/plugins/autodiscovery/terragrunt/test/testdata/inlined.hcl
  pkg/plugins/autodiscovery/terragrunt/test/testdata/more_complex_localized.hcl
  pkg/plugins/autodiscovery/terragrunt/test/testdata/non_tfr.hcl
  pkg/plugins/autodiscovery/terragrunt/test/testdata/not_hcl.txt
  pkg/plugins/autodiscovery/terragrunt/test/testdata/simple_localized.hcl
  pkg/plugins/autodiscovery/terragrunt/test/testdata/terragrunt.hcl
  pkg/plugins/autodiscovery/terragrunt/utils.go
  pkg/plugins/autodiscovery/terragrunt/utils_test.go
  pkg/plugins/utils/test/main.go
Labels: enhancement, resource-terragrunt
