Repository updatecli/updatecli, pull requests merged in 2024-01, with the labels that each got.

#1854 fix: shell exitcode
  pkg/plugins/resources/shell/success/exitcode/main.go
  pkg/plugins/resources/shell/success/exitcode/main_test.go
Labels: bug, resource-shell

#1866 fix: successful condition combined with failwhen
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/condition/main_test.go
Labels: bug, condition

#1867 feat: cache updatecli policies
  pkg/core/registry/pull.go
Labels: enhancement, updatecli-policies

#1870 feat(terraform/lock): parse provider hostname onto lock download client
  pkg/plugins/resources/terraform/lock/main.go
Labels: enhancement, resource-terraform

#1877 fix: helm autodiscovery should ignore subcharts
  pkg/plugins/autodiscovery/helm/dependencies.go
  pkg/plugins/autodiscovery/helm/test/testdata-3/chart/sample/Chart.yaml
Labels: autodiscovery, resource-helm

#1884 feat: add a command to scaffold a new Policy
  cmd/manifest_init.go
  cmd/root.go
  pkg/core/engine/scaffold.go
  pkg/core/scaffold/changelog.go
  pkg/core/scaffold/config.go
  pkg/core/scaffold/main.go
  pkg/core/scaffold/main_test.go
  pkg/core/scaffold/policy.go
  pkg/core/scaffold/readme.go
  pkg/core/scaffold/values.go
Labels: enhancement

#1889 fix: panic error in dockerimage resource
  pkg/plugins/resources/dockerimage/source_test.go
  pkg/plugins/utils/version/filter.go
Labels: bug, resource-docker

#1891 fix(scaffold): use default values.yaml
  pkg/core/scaffold/config.go
  pkg/core/scaffold/main.go
  pkg/core/scaffold/main_test.go
  pkg/core/scaffold/policy.go
  pkg/core/scaffold/values.go
Labels: bug

#1893 Fix listing helm chart versions
  pkg/plugins/resources/helm/source.go
Labels: bug, resource-helm

#1890 fix: json target when combined with scm
  pkg/plugins/resources/json/target.go
Labels: bug, target, resource-json

#1894 chore: improve contributing section scaffolded readme
  pkg/core/scaffold/readme.go
Labels: enhancement

#1899 feat: add base branch to temporary working branch
  pkg/plugins/scms/gitea/scm.go
  pkg/plugins/scms/github/scm.go
  pkg/plugins/scms/gitlab/scm.go
  pkg/plugins/scms/stash/scm.go
Labels: enhancement
