Repository updatecli/updatecli, pull requests merged in 2024-02, with the labels that each got.

#1916 fix: WriteLineToFile truncates file when opening
  pkg/core/text/main.go
Labels: bug

#1921 feat: Allow to override updatecli autodiscovery files
  pkg/plugins/autodiscovery/updatecli/main.go
  pkg/plugins/autodiscovery/updatecli/policies.go
  pkg/plugins/autodiscovery/updatecli/test/main_test.go
  pkg/plugins/autodiscovery/updatecli/utils_test.go
Labels: enhancement, autodiscovery, update-compose

#1928 feat: add kubernetes autodiscovery
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/autodiscovery/kubernetes/digest.yaml
  e2e/updatecli.d/success.d/autodiscovery/kubernetes/nodigest.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/kubernetes/containers.go
  pkg/plugins/autodiscovery/kubernetes/main.go
  pkg/plugins/autodiscovery/kubernetes/manifestTemplate.go
  pkg/plugins/autodiscovery/kubernetes/matchingRule.go
  pkg/plugins/autodiscovery/kubernetes/matchingRule_test.go
  pkg/plugins/autodiscovery/kubernetes/podSpec.go
  pkg/plugins/autodiscovery/kubernetes/test/main_test.go
  pkg/plugins/autodiscovery/kubernetes/test/testdata/kustomize/deployment.yaml
  pkg/plugins/autodiscovery/kubernetes/test/testdata/latest/pod.yaml
  pkg/plugins/autodiscovery/kubernetes/test/testdata/success/pod.yaml
  pkg/plugins/autodiscovery/kubernetes/test/testdata/template/deployment.yaml
  pkg/plugins/autodiscovery/kubernetes/utils.go
  pkg/plugins/autodiscovery/kubernetes/utils_test.go
  pkg/plugins/resources/dockerimage/spec.go
  pkg/plugins/resources/dockerimage/spec_test.go
  pkg/plugins/resources/npm/source_test.go
Labels: enhancement, autodiscovery, plugin-kubernetes

#1930 chore: remove depecrated versionFilter for versionfilter
  pkg/plugins/autodiscovery/cargo/dependencyManifest.go
  pkg/plugins/autodiscovery/fleet/manifestTemplate.go
  pkg/plugins/autodiscovery/helm/containerManifest.go
Labels: chore, cleanup

#1933 feat(cargo): set user-agent for crate api request
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/autodiscovery/cargo/private-registry.yaml
  e2e/updatecli.d/success.d/cargopackage.yaml
  pkg/core/engine/autodiscovery.go
  pkg/plugins/autodiscovery/cargo/dependencies.go
  pkg/plugins/autodiscovery/cargo/main_test.go
  pkg/plugins/autodiscovery/cargo/testdata/Cargo.toml
  pkg/plugins/resources/cargopackage/main.go
  pkg/plugins/utils/http/main.go
Labels: chore, resource-cargo

#1932 feat: dockercompose autodiscovery handles digest
  pkg/plugins/autodiscovery/dockercompose/compose.go
  pkg/plugins/autodiscovery/dockercompose/main.go
  pkg/plugins/autodiscovery/dockercompose/main_test.go
  pkg/plugins/autodiscovery/dockercompose/manifestTemplate.go
  pkg/plugins/autodiscovery/dockercompose/test/main_test.go
  pkg/plugins/autodiscovery/dockercompose/testdata/docker-compose.yaml
  pkg/plugins/autodiscovery/dockercompose/testdata/not-compose.yaml
  pkg/plugins/autodiscovery/dockercompose/testdata/not-yaml.txt
  pkg/plugins/autodiscovery/dockercompose/utils_test.go
Labels: enhancement, autodiscovery, docker-compose

#1947 feat: golang autodiscovery should follow conventional commits
  pkg/plugins/autodiscovery/golang/dependency.go
  pkg/plugins/autodiscovery/golang/main_test.go
  pkg/plugins/autodiscovery/golang/manifestTemplate.go
  pkg/plugins/autodiscovery/golang/test/main_test.go
  pkg/plugins/autodiscovery/golang/testdata/noModule/go.mod
  pkg/plugins/autodiscovery/golang/testdata/noModule/go.sum
  pkg/plugins/autodiscovery/golang/utils_test.go
Labels: enhancement, autodiscovery

#1950 feat: add flux autodiscovery plugin
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/autodiscovery/flux/helmrelease.yaml
  e2e/updatecli.d/success.d/autodiscovery/flux/ociregistry.yaml
  go.mod
  go.sum
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/flux/helmrelease.go
  pkg/plugins/autodiscovery/flux/helmreleaseManifestTemplate.go
  pkg/plugins/autodiscovery/flux/helmreleaseManifests.go
  pkg/plugins/autodiscovery/flux/helmrepository.go
  pkg/plugins/autodiscovery/flux/main.go
  pkg/plugins/autodiscovery/flux/main_test.go
  pkg/plugins/autodiscovery/flux/matchingRule.go
  pkg/plugins/autodiscovery/flux/matchingRule_test.go
  pkg/plugins/autodiscovery/flux/ociRepositoryManifestTemplate.go
  pkg/plugins/autodiscovery/flux/ociRepositoryManifests.go
  pkg/plugins/autodiscovery/flux/ocirepository.go
  pkg/plugins/autodiscovery/flux/testdata/helmrelease/oci/helmrelease.yaml
  pkg/plugins/autodiscovery/flux/testdata/helmrelease/oci/helmrepository.yaml
  pkg/plugins/autodiscovery/flux/testdata/helmrelease/simple/helmrelease.yaml
  pkg/plugins/autodiscovery/flux/testdata/helmrelease/simple/helmrepository.yaml
  pkg/plugins/autodiscovery/flux/testdata/ociRepository-latest/example.yaml
  pkg/plugins/autodiscovery/flux/testdata/ociRepository/example.yaml
  pkg/plugins/autodiscovery/flux/utils.go
  pkg/plugins/autodiscovery/flux/utils_test.go
Labels: enhancement, autodiscovery

#1956 fix(helm): ignore containers when tag or repository are not specified
  pkg/plugins/autodiscovery/helm/container.go
  pkg/plugins/autodiscovery/helm/containerManifest.go
  pkg/plugins/autodiscovery/helm/main_test.go
  pkg/plugins/autodiscovery/helm/testdata-4/chart/sample/Chart.yaml
  pkg/plugins/autodiscovery/helm/testdata-4/chart/sample/values.yaml
Labels: bug, autodiscovery

#1957 fix(golang): autodiscovery should run go mod tidy from sub folders
  pkg/plugins/autodiscovery/golang/dependency.go
  pkg/plugins/autodiscovery/golang/main_test.go
  pkg/plugins/autodiscovery/golang/manifestTemplate.go
  pkg/plugins/autodiscovery/golang/testdata/noSumFile/go.mod
  pkg/plugins/autodiscovery/golang/utils_test.go
Labels: bug, autodiscovery

#1962 feat: Add conditional Target
  .github/actions/spelling/allow.txt
  e2e/updatecli.d/success.d/conditionalTarget.yaml
  pkg/core/config/main.go
  pkg/core/pipeline/conditions.go
  pkg/core/pipeline/main.go
  pkg/core/pipeline/target/main.go
  pkg/core/pipeline/targets.go
Labels: enhancement, core

#1965 fix: remove useless printf
  pkg/plugins/autodiscovery/golang/dependency.go
  pkg/plugins/autodiscovery/helm/container.go
Labels: cleanup, skip-changelog
