Repository updatecli/updatecli, pull requests merged in 2024-05, with the labels that each got.

#2147 feat(maven): support unmarshalling maven responses in other XML charsets
  .github/actions/spelling/allow.txt
  pkg/plugins/utils/mavenmetadata/main.go
  pkg/plugins/utils/mavenmetadata/main_test.go
Labels: enhancement, resource-mavenrepository, resource-xml

#2160 fix: run git checkout before autodiscovery step
  pkg/core/engine/autodiscovery.go
Labels: bug, autodiscovery

#2158 feat: add argocd application autodiscovery
  .github/actions/spelling/allow.txt
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/argocd/application.go
  pkg/plugins/autodiscovery/argocd/main.go
  pkg/plugins/autodiscovery/argocd/main_test.go
  pkg/plugins/autodiscovery/argocd/manifestTemplate.go
  pkg/plugins/autodiscovery/argocd/matchingRule.go
  pkg/plugins/autodiscovery/argocd/matchingRule_test.go
  pkg/plugins/autodiscovery/argocd/testdata/sealed-secrets/manifest.yaml
  pkg/plugins/autodiscovery/argocd/utils.go
  pkg/plugins/autodiscovery/argocd/utils_test.go
Labels: enhancement, autodiscovery

#2182 feat: support sources for argocd autodiscovery
  pkg/plugins/autodiscovery/argocd/application.go
  pkg/plugins/autodiscovery/argocd/main_test.go
  pkg/plugins/autodiscovery/argocd/manifestTemplate.go
  pkg/plugins/autodiscovery/argocd/testdata/empty/manifest.yaml
  pkg/plugins/autodiscovery/argocd/testdata/sealed-secrets_sources/manifest.yaml
  pkg/plugins/autodiscovery/argocd/utils.go
  pkg/plugins/autodiscovery/argocd/utils_test.go
Labels: autodiscovery, resource-argocd
