Repository updatecli/updatecli, pull requests merged in 2024-10, with the labels that each got.

#2759 chore(gha): update check-spelling to 0.0.22
  .github/workflows/spelling.yml
Labels: github_actions, chore, skip-changelog

#2752 feat: dockerfile autodiscovery should ignore stage name and scratch
  pkg/plugins/autodiscovery/dockerfile/dockerfile.go
  pkg/plugins/autodiscovery/dockerfile/main_test.go
  pkg/plugins/autodiscovery/dockerfile/testdata/alpine/Dockerfile
  pkg/plugins/autodiscovery/dockerfile/testdata/jenkins/Dockerfile
  pkg/plugins/autodiscovery/dockerfile/testdata/scratch-and-base/Dockerfile
  pkg/plugins/autodiscovery/dockerfile/utils.go
  pkg/plugins/autodiscovery/dockerfile/utils_test.go
  pkg/plugins/resources/dockerfile/main_test.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/arg.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/arg_test.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/env.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/env_test.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/from.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/from_test.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/label.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/label_test.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/main.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/simple_keyword.go
  pkg/plugins/resources/dockerfile/simpletextparser/keywords/simple_keyword_test.go
  pkg/plugins/resources/dockerfile/simpletextparser/main.go
  pkg/plugins/resources/dockerfile/simpletextparser/main_test.go
Labels: enhancement, resource-dockerfile, autodiscovery

#2773 feat(autodiscovery/precommit): initial implementation
  e2e/updatecli.d/success.d/autodiscovery/precommit/example.1.yaml
  e2e/updatecli.d/success.d/precommit/precommit.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/precommit/dependency.go
  pkg/plugins/autodiscovery/precommit/main.go
  pkg/plugins/autodiscovery/precommit/manifestTemplate.go
  pkg/plugins/autodiscovery/precommit/matchingRule.go
  pkg/plugins/autodiscovery/precommit/matchingRule_test.go
  pkg/plugins/autodiscovery/precommit/precommit.go
  pkg/plugins/autodiscovery/precommit/test/main_test.go
  pkg/plugins/autodiscovery/precommit/test/testdata/precommit/.pre-commit-config.yaml
  pkg/plugins/autodiscovery/precommit/test/testdata/simple/.pre-commit-config.yaml
  pkg/plugins/autodiscovery/precommit/utils.go
  pkg/plugins/autodiscovery/precommit/utils_test.go
  pkg/plugins/utils/test/main.go
Labels: enhancement, autodiscovery

#2806 Fix bug when gitea request fails
  pkg/plugins/resources/gitea/pullrequest/utils.go
Labels: bug, scm-gittea

#2800 feat(core/pipeline): allow dependency across source/conditions/targets
  cmd/manifest_show.go
  e2e/updatecli.d/success.d/conditionalTarget.yaml
  pkg/core/config/main.go
  pkg/core/engine/autodiscovery.go
  pkg/core/engine/configuration.go
  pkg/core/engine/main.go
  pkg/core/engine/manifest/main.go
  pkg/core/engine/manifest_show.go
  pkg/core/engine/options.go
  pkg/core/engine/run.go
  pkg/core/pipeline/conditions.go
  pkg/core/pipeline/dependsOn.go
  pkg/core/pipeline/dependsOn_test.go
  pkg/core/pipeline/main.go
  pkg/core/pipeline/main_test.go
  pkg/core/pipeline/resource/main.go
  pkg/core/pipeline/sort.go
  pkg/core/pipeline/sort_test.go
  pkg/core/pipeline/sources.go
  pkg/core/pipeline/sources_test.go
  pkg/core/pipeline/target/main.go
  pkg/core/pipeline/targets.go
  pkg/core/pipeline/targets_test.go
  pkg/core/pipeline/utils.go
  pkg/core/pipeline/utils_test.go
Labels: enhancement, core

#2852 fix: disabling temurin s390x test
  e2e/updatecli.d/success.d/temurin/sources.yaml
Labels: chore

#2822 feat: detect auto-debug in the CI
  cmd/root.go
  pkg/plugins/utils/ci/githubactions.go
  pkg/plugins/utils/ci/gitlabci.go
  pkg/plugins/utils/ci/jenkins.go
  pkg/plugins/utils/ci/main.go
  pkg/plugins/utils/ci/main_test.go
Labels: enhancement, github_actions

#2848 feat(gittag): Add git url param to gittag plugin
  e2e/updatecli.d/success.d/gittag.yaml
  pkg/plugins/resources/gittag/condition.go
  pkg/plugins/resources/gittag/main.go
  pkg/plugins/resources/gittag/main_test.go
  pkg/plugins/resources/gittag/source.go
  pkg/plugins/resources/gittag/target.go
  pkg/plugins/utils/gitgeneric/main.go
Labels: enhancement, resource-gittag

#2916 fix(temurin) fail explicitly when specifying condition or target of kind 'temurin'
  pkg/plugins/resources/temurin/condition.go
  pkg/plugins/resources/temurin/condition_test.go
  pkg/plugins/resources/temurin/target.go
Labels: bug, target, condition, temurin

#2917 fix(temurin) use OS and architecture to filter responses when retrieving versions
  e2e/updatecli.d/success.d/temurin/sources.yaml
  pkg/plugins/resources/temurin/api.go
Labels: bug, source, temurin

#2926 fix(gittag): allow to specify the sourcebranch where to create the tag
  pkg/plugins/resources/gittag/main.go
  pkg/plugins/resources/gittag/target.go
Labels: bug, resource-gittag
