Repository updatecli/updatecli, pull requests merged in 2024-11, with the labels that each got.

#1964 feat: add GitHub action autodiscovery plugin
  e2e/updatecli.d/success.d/autodiscovery/github/action/updatecli-test__github-actions.yaml
  e2e/updatecli.d/success.d/autodiscovery/github/action/updatecli.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/githubaction/main.go
  pkg/plugins/autodiscovery/githubaction/main_test.go
  pkg/plugins/autodiscovery/githubaction/matchingRule.go
  pkg/plugins/autodiscovery/githubaction/matchingRule_test.go
  pkg/plugins/autodiscovery/githubaction/testdata/duplicate_steps/.github/workflows/updatecli.yaml
  pkg/plugins/autodiscovery/githubaction/testdata/gitea/.gitea/workflows/updatecli.yaml
  pkg/plugins/autodiscovery/githubaction/testdata/updatecli/.github/workflows/updatecli.yaml
  pkg/plugins/autodiscovery/githubaction/utils.go
  pkg/plugins/autodiscovery/githubaction/utils_test.go
  pkg/plugins/autodiscovery/githubaction/workflow.go
  pkg/plugins/autodiscovery/githubaction/workflowManifestGitHubTemplate.go
  pkg/plugins/autodiscovery/githubaction/workflowManifestGiteaTemplate.go
  pkg/plugins/autodiscovery/githubaction/workflowManifests.go
  pkg/plugins/scms/github/pullrequest.go
Labels: enhancement, autodiscovery

#2977 fix(terragrunt): source block can be nil
  pkg/plugins/autodiscovery/terragrunt/test/testdata/terraform_without_source.hcl
  pkg/plugins/autodiscovery/terragrunt/utils.go
  pkg/plugins/autodiscovery/terragrunt/utils_test.go
Labels: bug, resource-terragrunt

#2997 fix: Send Updatecli log message to stdout instead of sterr
  cmd/root.go
  e2e/venom.d/test_deprecated.yaml
  e2e/venom.d/test_diff.yaml
  e2e/venom.d/test_skipped_targets.yaml
  e2e/venom.d/test_version.yaml
  e2e/venom.d/test_warning.yaml
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/target/main.go
Labels: bug, core

#3063 feat(temurin): introduces condition to check for Adoptium releases existence
  e2e/updatecli.d/success.d/temurin/conditions.yaml
  e2e/updatecli.d/success.d/temurin/sources.yaml
  pkg/plugins/resources/temurin/api.go
  pkg/plugins/resources/temurin/condition.go
  pkg/plugins/resources/temurin/condition_test.go
  pkg/plugins/resources/temurin/main.go
  pkg/plugins/resources/temurin/main_test.go
  pkg/plugins/resources/temurin/source.go
  pkg/plugins/resources/temurin/source_test.go
  pkg/plugins/resources/temurin/spec.go
Labels: enhancement, condition, temurin

#3068 fix: message for golang update in go.mod
  pkg/plugins/resources/go/gomod/version.go
Labels: bug, go, go/version

#3062 Add SkipPackaging option for helm autodiscovery
  pkg/plugins/autodiscovery/helm/container.go
  pkg/plugins/autodiscovery/helm/containerManifest.go
  pkg/plugins/autodiscovery/helm/dependencies.go
  pkg/plugins/autodiscovery/helm/dependencyManifest.go
  pkg/plugins/autodiscovery/helm/main.go
Labels: enhancement, autodiscovery, resource-helm

#3146 deps: use go-scm upstream project
  go.mod
  go.sum
Labels: dependencies

#1120 doc(e2e tests) add a minimalistic documentation
  CONTRIBUTING.adoc
  updatecli/updatecli.d/venom.yaml
Labels: documentation

#3190 fix: display target console output in Updatecli report
  pkg/core/pipeline/condition/main.go
  pkg/core/pipeline/main.go
  pkg/core/pipeline/source/main.go
  pkg/core/pipeline/target/main.go
  pkg/core/pipeline/targets.go
Labels: bug, udash
