Repository updatecli/updatecli, pull requests merged in 2025-06, with the labels that each got.

#5309 fix(reports): update target description to output correctly in markdown
  pkg/core/reports/action.go
  pkg/core/reports/action_test.go
Labels: bug, actions

#5324 fix: devcontainer update pipeline
  updatecli/updatecli.d/devcontainer.yaml
Labels: skip-changelog

#5350 feat(bitbucket): add support for pull request description merging
  pkg/core/reports/action.go
  pkg/core/reports/action_markdown_template.go
  pkg/core/reports/action_test.go
  pkg/core/reports/actions.go
  pkg/core/reports/actions_test.go
  pkg/plugins/resources/bitbucket/pullrequest/create.go
Labels: enhancement, scm-bitbucket

#5486 fix: Branch reset causes initial Github API commit to be lost
  pkg/core/config/main.go
  pkg/plugins/resources/gitbranch/main.go
  pkg/plugins/resources/gittag/main.go
  pkg/plugins/resources/gittag/main_test.go
  pkg/plugins/scms/bitbucket/main.go
  pkg/plugins/scms/git/main.go
  pkg/plugins/scms/gitea/main.go
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/scm.go
  pkg/plugins/scms/gitlab/main.go
  pkg/plugins/scms/stash/main.go
  pkg/plugins/utils/gitgeneric/main.go
Labels: bug, github_actions, scm-github
