Repository updatecli/updatecli, pull requests merged in 2025-05, with the labels that each got.

#4898 feat: export pipeline report to disk
  pkg/core/engine/exportReport.go
  pkg/core/engine/run.go
  pkg/core/pipeline/conditions.go
  pkg/core/pipeline/main.go
  pkg/core/pipeline/resource/main.go
  pkg/core/pipeline/sources.go
  pkg/core/pipeline/sources_test.go
  pkg/core/pipeline/targets.go
  pkg/core/reports/export.go
  pkg/core/reports/report.go
  pkg/core/result/condition.go
  pkg/core/result/source.go
  pkg/core/result/target.go
  pkg/core/tmp/main.go
  pkg/core/udash/publish.go
  pkg/plugins/autodiscovery/githubaction/main_test.go
  pkg/plugins/autodiscovery/githubaction/templateGHAGitea.go
  pkg/plugins/resources/awsami/main.go
  pkg/plugins/resources/cargopackage/main.go
  pkg/plugins/resources/csv/main.go
  pkg/plugins/resources/dockerdigest/main.go
  pkg/plugins/resources/dockerfile/main.go
  pkg/plugins/resources/dockerimage/main.go
  pkg/plugins/resources/file/main.go
  pkg/plugins/resources/gitbranch/main.go
  pkg/plugins/resources/gitea/branch/main.go
  pkg/plugins/resources/gitea/release/main.go
  pkg/plugins/resources/gitea/tag/main.go
  pkg/plugins/resources/githubrelease/main.go
  pkg/plugins/resources/gitlab/branch/main.go
  pkg/plugins/resources/gitlab/release/main.go
  pkg/plugins/resources/gitlab/tag/main.go
  pkg/plugins/resources/gittag/main.go
  pkg/plugins/resources/go/gomod/main.go
  pkg/plugins/resources/go/language/main.go
  pkg/plugins/resources/go/module/main.go
  pkg/plugins/resources/hcl/main.go
  pkg/plugins/resources/helm/main.go
  pkg/plugins/resources/jenkins/main.go
  pkg/plugins/resources/json/main.go
  pkg/plugins/resources/maven/main.go
  pkg/plugins/resources/npm/main.go
  pkg/plugins/resources/shell/main.go
  pkg/plugins/resources/stash/branch/main.go
  pkg/plugins/resources/stash/release/main.go
  pkg/plugins/resources/stash/tag/main.go
  pkg/plugins/resources/temurin/main.go
  pkg/plugins/resources/terraform/lock/main.go
  pkg/plugins/resources/terraform/provider/main.go
  pkg/plugins/resources/terraform/registry/main.go
  pkg/plugins/resources/toml/main.go
  pkg/plugins/resources/toolversions/main.go
  pkg/plugins/resources/updateclihttp/main.go
  pkg/plugins/resources/xml/main.go
  pkg/plugins/resources/yaml/main.go
Labels: enhancement, core

#5018 fix: typo
  pkg/core/pipeline/sort.go
Labels: skip-changelog

#4793 feat(autodiscovery/cargo): switch cargo update to cargo-upgrade
  pkg/plugins/autodiscovery/cargo/dependencies.go
  pkg/plugins/autodiscovery/cargo/dependencyManifest.go
  pkg/plugins/autodiscovery/cargo/main.go
  pkg/plugins/autodiscovery/cargo/main_test.go
  pkg/plugins/autodiscovery/cargo/testdata/.gitignore
  pkg/plugins/autodiscovery/cargo/testdata/simple_crate/Cargo.toml
  pkg/plugins/autodiscovery/cargo/testdata/simple_crate/src/main.rs
  pkg/plugins/autodiscovery/cargo/testdata/simple_crate_lock/Cargo.lock
  pkg/plugins/autodiscovery/cargo/testdata/simple_crate_lock/Cargo.toml
  pkg/plugins/autodiscovery/cargo/testdata/simple_crate_lock/src/main.rs
  pkg/plugins/autodiscovery/cargo/testdata/workspace/Cargo.toml
  pkg/plugins/autodiscovery/cargo/testdata/workspace/crates/simple_crate/Cargo.toml
  pkg/plugins/autodiscovery/cargo/testdata/workspace/crates/simple_crate/src/main.rs
  pkg/plugins/autodiscovery/cargo/testdata/workspace_lock/Cargo.lock
  pkg/plugins/autodiscovery/cargo/testdata/workspace_lock/Cargo.toml
  pkg/plugins/autodiscovery/cargo/testdata/workspace_lock/crates/simple_crate/Cargo.toml
  pkg/plugins/autodiscovery/cargo/testdata/workspace_lock/crates/simple_crate/src/main.rs
  pkg/plugins/autodiscovery/cargo/utils.go
  pkg/plugins/autodiscovery/cargo/utils_test.go
  pkg/plugins/resources/cargopackage/source_test.go
Labels: enhancement, autodiscovery, resource-cargo

#5094 feat(gitlab/mergerequest): configure additional fields during mr creation
  go.mod
  go.sum
  pkg/plugins/resources/gitlab/mergerequest/create.go
  pkg/plugins/resources/gitlab/mergerequest/exist.go
  pkg/plugins/resources/gitlab/mergerequest/main.go
  pkg/plugins/resources/gitlab/mergerequest/spec.go
  pkg/plugins/resources/gitlab/mergerequest/utils.go
Labels: enhancement, action-gitlab

#5110 chore: cleanup space in release workflow
  .github/workflows/release.yaml
Labels: skip-changelog

#5133 feat(bitbucket): support pull request updates
  pkg/plugins/resources/bitbucket/client/main.go
  pkg/plugins/resources/bitbucket/pullrequest/create.go
  pkg/plugins/resources/bitbucket/pullrequest/exist.go
  pkg/plugins/resources/bitbucket/pullrequest/main.go
  pkg/plugins/resources/bitbucket/pullrequest/utils.go
  pkg/plugins/scms/bitbucket/main.go
Labels: enhancement, scm-bitbucket
