Repository updatecli/updatecli, pull requests merged in 2025-07, with the labels that each got.

#5508 feat: add partial manifest
  e2e/updatecli.d/success.d/partial/_source.yaml
  e2e/updatecli.d/success.d/partial/jenkins.yaml
  e2e/updatecli.d/success.d/partial/stable/_source.yaml
  pkg/core/config/main.go
  pkg/core/engine/configuration.go
  pkg/core/engine/configuration_test.go
  pkg/core/engine/registry.go
  pkg/core/engine/testdata/partialOneManifest/_source.yaml
  pkg/core/engine/testdata/partialOneManifest/updatecli.yaml
  pkg/core/engine/utils.go
Labels: enhancement, core

#5543 fix: panic when Updatecli manifests doesn't exist
  pkg/core/engine/utils.go
Labels: bug, core

#5589 feat: Allow to customize temporary working branch created by Updatecli
  pkg/plugins/scms/bitbucket/main.go
  pkg/plugins/scms/bitbucket/scm.go
  pkg/plugins/scms/git/main.go
  pkg/plugins/scms/git/scm.go
  pkg/plugins/scms/gitea/main.go
  pkg/plugins/scms/gitea/scm.go
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/scm.go
  pkg/plugins/scms/gitlab/main.go
  pkg/plugins/scms/gitlab/scm.go
  pkg/plugins/scms/stash/main.go
  pkg/plugins/scms/stash/scm.go
  pkg/plugins/utils/gitgeneric/main.go
  updatecli/updatecli.d/venom.yaml
Labels: enhancement, scm-github, scm-git, scm-gittea, scm-gitlab, scm-stash, scm-bitbucket

#5698 fix: remove linux/aarch64 from temurin e2e test
  e2e/updatecli.d/success.d/temurin/conditions.yaml
Labels: bug

#5743 fix(actions) ensure HTML of change requests is valid (missing closingtag for `img`)
  pkg/plugins/utils/action/main.go
Labels: bug, pullrequest-github, actions

#5696 feat: support multiple yaml keys for 1 target
  pkg/plugins/resources/yaml/condition_test.go
  pkg/plugins/resources/yaml/main.go
  pkg/plugins/resources/yaml/main_test.go
  pkg/plugins/resources/yaml/source_test.go
  pkg/plugins/resources/yaml/target.go
  pkg/plugins/resources/yaml/target_test.go
Labels: enhancement, resource-yaml

#5789 deps: bump buildkit && sops version
  go.mod
  go.sum
  pkg/plugins/resources/dockerfile/mobyparser/main_test.go
  pkg/plugins/resources/dockerfile/mobyparser/marshal.go
  pkg/plugins/resources/dockerfile/mobyparser/marshal_test.go
Labels: dependencies
