Repository updatecli/updatecli, pull requests merged in 2025-01, with the labels that each got.

#3404 fix!: preserve original version for regex/semver
  pkg/plugins/utils/version/filter.go
  pkg/plugins/utils/version/filter_test.go
Labels: bug, versioning, core

#3418 fix: update golangci-lint to 1.63.4
  .github/workflows/go.yaml
  .golangci.yml
  pkg/core/config/helper.go
Labels: skip-changelog

#3405 feat: add versionfilter of kind time
  e2e/updatecli.d/success.d/versionfilter.yaml
  pkg/plugins/utils/version/errors.go
  pkg/plugins/utils/version/filter.go
  pkg/plugins/utils/version/filter_test.go
  pkg/plugins/utils/version/time.go
  pkg/plugins/utils/version/time_test.go
Labels: enhancement

#3458 refactor: improving json error message
  pkg/plugins/resources/json/main.go
  pkg/plugins/resources/json/target.go
  pkg/plugins/resources/yaml/main_test.go
  pkg/plugins/utils/dasel/read.go
Labels: refactor

#3460 refactor: git error messages
  pkg/plugins/utils/gitgeneric/branch.go
  pkg/plugins/utils/gitgeneric/file.go
  pkg/plugins/utils/gitgeneric/main.go
Labels: scm-github, scm-git, scm-gittea, scm-gitlab, scm-stash, scm-bitbucket, refactor

#3467 feat: add updatecli pipeline for devcontainer
  updatecli/updatecli.d/devcontainer.yaml
Labels: skip-changelog

#3461 fix: ArgoCD autodiscovery for OCI registry
  pkg/plugins/autodiscovery/argocd/application.go
  pkg/plugins/autodiscovery/argocd/main_test.go
  pkg/plugins/autodiscovery/argocd/manifestTemplate.go
  pkg/plugins/autodiscovery/argocd/testdata/oci-helm-source/manifest.yaml
  pkg/plugins/autodiscovery/argocd/utils_test.go
Labels: bug, autodiscovery, resource-argocd

#3371 feat: add versionfilter of kind lexicographical
  pkg/plugins/utils/version/filter.go
  pkg/plugins/utils/version/filter_test.go
Labels: enhancement

#3489 fix: retrieve correct helm chart changelog based on a version
  pkg/plugins/resources/helm/changelog.go
Labels: bug, resource-helm

#3500 fix(autodiscovery/dockercompose): correctly set arch
  pkg/plugins/autodiscovery/dockercompose/compose.go
  pkg/plugins/autodiscovery/dockercompose/main_test.go
  pkg/plugins/autodiscovery/dockercompose/manifestTemplate.go
Labels: bug, autodiscovery, docker-compose

#3501 fix(autodiscovery/helm): correctly handle ignore/only rule
  pkg/plugins/autodiscovery/helm/container.go
  pkg/plugins/autodiscovery/helm/main_test.go
Labels: bug, autodiscovery, resource-helm

#3516 improvement(httpclient): add support for http proxy in retry client
  pkg/core/httpclient/retry.go
  pkg/core/udash/publish.go
  pkg/plugins/resources/bitbucket/client/main.go
  pkg/plugins/resources/gitea/client/main.go
  pkg/plugins/resources/gitlab/client/main.go
  pkg/plugins/resources/stash/client/main.go
  pkg/plugins/resources/temurin/main.go
  pkg/plugins/scms/github/main.go
Labels: enhancement, core

#3508 githubaction autodiscovery should allow for pinning version to commit hash
  e2e/updatecli.d/success.d/gitBranch.yaml
  e2e/updatecli.d/success.d/githubRelease.yaml
  pkg/plugins/autodiscovery/githubaction/main.go
  pkg/plugins/autodiscovery/githubaction/main_test.go
  pkg/plugins/autodiscovery/githubaction/testdata/digest/.github/workflows/updatecli.yaml
  pkg/plugins/autodiscovery/githubaction/utils.go
  pkg/plugins/autodiscovery/githubaction/utils_test.go
  pkg/plugins/autodiscovery/githubaction/workflow.go
  pkg/plugins/autodiscovery/githubaction/workflowManifestGitHubTemplate.go
  pkg/plugins/autodiscovery/githubaction/workflowManifestGiteaTemplate.go
  pkg/plugins/autodiscovery/githubaction/workflowManifests.go
  pkg/plugins/autodiscovery/githubaction/workflow_test.go
  pkg/plugins/resources/gitbranch/main.go
  pkg/plugins/resources/gitbranch/source.go
  pkg/plugins/resources/githubrelease/condition.go
  pkg/plugins/resources/githubrelease/main.go
  pkg/plugins/resources/githubrelease/main_test.go
  pkg/plugins/resources/githubrelease/source.go
  pkg/plugins/resources/githubrelease/source_test.go
  pkg/plugins/resources/yaml/main.go
  pkg/plugins/resources/yaml/target.go
  pkg/plugins/resources/yaml/target_test.go
  pkg/plugins/scms/github/client.go
  pkg/plugins/scms/github/release.go
  pkg/plugins/scms/github/release_test.go
  pkg/plugins/utils/gitgeneric/branch.go
  pkg/plugins/utils/gitgeneric/main.go
Labels: enhancement

#3561 fix(gittag): always return lightweight git tag
  pkg/plugins/utils/gitgeneric/main.go
Labels: bug, resource-gittag

#3562 fix(githubaction): correctly ignore relative path action
  pkg/plugins/autodiscovery/githubaction/testdata/updatecli/.github/workflows/updatecli.yaml
  pkg/plugins/autodiscovery/githubaction/utils.go
  pkg/plugins/autodiscovery/githubaction/utils_test.go
  pkg/plugins/autodiscovery/githubaction/workflowManifests.go
Labels: bug, github_actions, autodiscovery

#3633 feat: github action autodiscovyer support docker
  pkg/plugins/autodiscovery/githubaction/main.go
  pkg/plugins/autodiscovery/githubaction/main_test.go
  pkg/plugins/autodiscovery/githubaction/matchingRule.go
  pkg/plugins/autodiscovery/githubaction/templateDocker.go
  pkg/plugins/autodiscovery/githubaction/templateGHAGitHub.go
  pkg/plugins/autodiscovery/githubaction/templateGHAGitea.go
  pkg/plugins/autodiscovery/githubaction/testdata/docker/.github/workflows/docker-01.yaml
  pkg/plugins/autodiscovery/githubaction/testdata/docker/.github/workflows/docker-02.yaml
  pkg/plugins/autodiscovery/githubaction/utils.go
  pkg/plugins/autodiscovery/githubaction/utils_test.go
  pkg/plugins/autodiscovery/githubaction/workflow.go
  pkg/plugins/autodiscovery/githubaction/workflowDockerManifest.go
  pkg/plugins/autodiscovery/githubaction/workflowGHAManifest.go
  pkg/plugins/autodiscovery/githubaction/workflowManifests.go
Labels: enhancement, autodiscovery

#3659 fix: objuscate username/password from URL in the console output
  pkg/core/text/main.go
  pkg/plugins/resources/maven/condition.go
  pkg/plugins/resources/maven/source.go
  pkg/plugins/resources/maven/utils.go
  pkg/plugins/utils/mavenmetadata/main.go
Labels: resource-mavenrepository

#3660 chore: rewrite autodiscovery dockercompose plugin comment
  pkg/plugins/autodiscovery/dockercompose/main.go
Labels: documentation, skip-changelog
