Repository updatecli/updatecli, pull requests merged in 2025-04, with the labels that each got.

#4585 deps: bump github.com/minamijoyo/hcledit to v0.2.17
  go.mod
  go.sum
  pkg/plugins/resources/hcl/main.go
Labels: dependencies, resource-hcl

#4570 feat(autodiscovery): add support for k8s initContainers (#4569)
  pkg/plugins/autodiscovery/kubernetes/kubernetes.go
  pkg/plugins/autodiscovery/kubernetes/kubernetesSpec.go
  pkg/plugins/autodiscovery/kubernetes/main_test.go
  pkg/plugins/autodiscovery/kubernetes/testdata/initContainers/initContainers.yaml
  pkg/plugins/autodiscovery/kubernetes/utils_test.go
Labels: enhancement, plugin-kubernetes

#4699 fix(updatecli): ignore some Go module version update for github.com/hashicorp/hcl/v2
  updatecli/values.d/golang_major.yaml
  updatecli/values.d/golang_minor.yaml
  updatecli/values.d/golang_patch.yaml
Labels: dependencies

#4560 deps: use one PR per golang major update
  updatecli/values.d/golang_major.yaml
Labels: dependencies

#4738 Update ADOPTERS.md
  ADOPTERS.md
Labels: documentation

#4768 deps: Update ubuntu runner for codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: dependencies

#4767 fix(udash): correctly handle error if udash doesn't exist
  pkg/core/udash/config_spec.go
  pkg/core/udash/helpers.go
  pkg/core/udash/login.go
  pkg/core/udash/main.go
Labels: bug, udash

#4866 fix(autodiscovery/flux): don't ignore flux helmrelease update if using an actionID
  pkg/plugins/autodiscovery/flux/helmreleaseManifestTemplate.go
  pkg/plugins/autodiscovery/flux/main_test.go
  pkg/plugins/autodiscovery/flux/ociRepositoryManifestTemplate.go
  pkg/plugins/autodiscovery/flux/ociRepositoryManifests.go
Labels: bug, autodiscovery, flux

#4870 feat: add quote/unquote transformers
  pkg/core/transformer/main.go
  pkg/core/transformer/main_test.go
Labels: enhancement, transformers

#4928 feat: add support for digest in precommit autodiscovery
  pkg/plugins/autodiscovery/precommit/dependency.go
  pkg/plugins/autodiscovery/precommit/main.go
  pkg/plugins/autodiscovery/precommit/main_test.go
  pkg/plugins/autodiscovery/precommit/manifestTemplate.go
Labels: enhancement, resource-precommit

#4975 fix: github action e2e test branch
  e2e/updatecli.d/success.d/autodiscovery/github/action/digest.yaml
  e2e/updatecli.d/success.d/autodiscovery/github/action/updatecli-test__github-actions.yaml
  e2e/updatecli.d/success.d/autodiscovery/github/action/updatecli.yaml
Labels: bug, autodiscovery

#4982 fix(autodiscovery/githubaction): replace deprecated key hash by hashtag
  pkg/plugins/autodiscovery/githubaction/main_test.go
  pkg/plugins/autodiscovery/githubaction/templateGHAGitHub.go
Labels: cleanup, autodiscovery

#4989 fix(autodiscovery/githubaction: revert manifest template
  pkg/plugins/autodiscovery/githubaction/main_test.go
  pkg/plugins/autodiscovery/githubaction/templateGHAGitHub.go
Labels: skip-changelog

#4957 feat(autodiscovery): Add Nomad integration
  e2e/updatecli.d/success.d/autodiscovery/nomad/updatecli.yaml
  pkg/core/pipeline/autodiscovery/main.go
  pkg/plugins/autodiscovery/nomad/dockerDriver.go
  pkg/plugins/autodiscovery/nomad/main.go
  pkg/plugins/autodiscovery/nomad/main_test.go
  pkg/plugins/autodiscovery/nomad/manifestTemplate.go
  pkg/plugins/autodiscovery/nomad/matchingRule.go
  pkg/plugins/autodiscovery/nomad/matchingRule_test.go
  pkg/plugins/autodiscovery/nomad/testdata/containerd/redis.nomad
  pkg/plugins/autodiscovery/nomad/testdata/podman/cache.nomad
  pkg/plugins/autodiscovery/nomad/testdata/simple/nomad.hcl
  pkg/plugins/autodiscovery/nomad/testdata/variable/grafana.nomad
  pkg/plugins/autodiscovery/nomad/utils.go
  pkg/plugins/autodiscovery/nomad/utils_test.go
Labels: enhancement, autodiscovery
