Repository updatecli/updatecli, pull requests merged in 2025-02, with the labels that each got.

#3715 fix: autodiscovery precommit not working if default branch of remote hook is not main
  pkg/plugins/autodiscovery/precommit/dependency.go
  pkg/plugins/autodiscovery/precommit/main_test.go
  pkg/plugins/autodiscovery/precommit/manifestTemplate.go
  pkg/plugins/autodiscovery/precommit/test/main_test.go
  pkg/plugins/autodiscovery/precommit/testdata/precommit/.pre-commit-config.yaml
  pkg/plugins/autodiscovery/precommit/testdata/simple/.pre-commit-config.yaml
  pkg/plugins/autodiscovery/precommit/utils_test.go
Labels: bug, autodiscovery, resource-precommit

#3774 feat: switch to official github action to obtain app token
  .github/workflows/release.yaml
  .github/workflows/updatecli.yaml
  updatecli-compose.yaml
  updatecli/values.d/githubaction.yaml
Labels: dependencies

#3826 fix: sort generated jsonschema
  pkg/core/jsonschema/main.go
Labels: bug, skip-changelog

#3904 ci: remove gomnd additional properties from golangci.yaml
  .golangci.yml
Labels: skip-changelog

#3903 fix(maven): check all configured repositories before returning an error
  pkg/plugins/resources/maven/source.go
  pkg/plugins/resources/maven/source_test.go
Labels: bug, resource-mavenrepository

#3920 feat: set oauth2 as default github username when username is not provided.
  pkg/plugins/scms/github/main.go
  pkg/plugins/scms/github/main_test.go
Labels: enhancement, resource-githubRelease, github_actions, scm-github, pullrequest-github

#3956 fix: use the right action configuration in autodiscovery
  pkg/core/engine/autodiscovery.go
Labels: bug, autodiscovery
