Repository updatecli/updatecli, pull requests merged in 2025-03, with the labels that each got.

#4164 feat: get helm changelog from annotations and github release
  pkg/plugins/changelog/github/v3/api.go
  pkg/plugins/resources/helm/changelog.go
  pkg/plugins/resources/helm/changelog_test.go
Labels: enhancement, resource-helmchart, helmfile, resource-helm

#4330 fix: helm changelogs from github releases
  pkg/plugins/resources/helm/changelog.go
  pkg/plugins/resources/helm/changelog_test.go
Labels: bug, resource-helmchart, helmfile, resource-helm

#4340 fix: generated autodiscovery pipeline uses original action id
  pkg/core/engine/autodiscovery.go
Labels: bug, autodiscovery

#4372 fix: helm changelog tests
  pkg/plugins/resources/helm/changelog.go
  pkg/plugins/resources/helm/changelog_test.go
Labels: skip-changelog

#4367 ci(release): Create a token for multiple repositories in the current owner's installation
  .github/workflows/release.yaml
Labels: bug, skip-changelog

#4410 deps: Bump Golang version to 1.24.1
  go.mod
  pkg/plugins/resources/file/condition.go
  pkg/plugins/resources/file/target.go
  pkg/plugins/resources/maven/main.go
  pkg/plugins/resources/xml/main.go
  pkg/plugins/resources/yaml/source.go
  pkg/plugins/scms/git/commit/main.go
Labels: dependencies, go

#4432 feat: gitlab support authorization with bearer token
  pkg/core/httpclient/retry.go
  pkg/core/httpclient/throttler.go
  pkg/plugins/resources/gitlab/client/main.go
  pkg/plugins/resources/gitlab/client/spec.go
  pkg/plugins/resources/gitlab/mergerequest/main.go
  pkg/plugins/resources/go/language/main.go
  pkg/plugins/resources/go/module/changelog.go
  pkg/plugins/resources/go/module/main.go
  pkg/plugins/resources/npm/main.go
  pkg/plugins/resources/terraform/registry/main.go
  pkg/plugins/resources/updateclihttp/main.go
Labels: enhancement, scm-gitlab, action-gitlab

#4429 feat(flux): support multiple YAML documents per file
  pkg/plugins/autodiscovery/flux/helmrelease.go
  pkg/plugins/autodiscovery/flux/helmrepository.go
  pkg/plugins/autodiscovery/flux/main_test.go
  pkg/plugins/autodiscovery/flux/ocirepository.go
  pkg/plugins/autodiscovery/flux/testdata/helmrelease/oci-combined/helmrelease-helmrepository.yaml
  pkg/plugins/autodiscovery/flux/testdata/helmrelease/simple-combined/helmrelease-helmrepository.yaml
  pkg/plugins/autodiscovery/flux/utils.go
  pkg/plugins/autodiscovery/flux/utils_test.go
Labels: enhancement, autodiscovery

#4418 feat: allow to specify assignees & reviewers to github pullrequest
  e2e/updatecli.d/success.d/autodiscovery/golang/golangOnly.yaml
  e2e/updatecli.d/success.d/autodiscovery/golang/minorOnly.yaml
  pkg/plugins/scms/github/group.go
  pkg/plugins/scms/github/pullrequest.go
  pkg/plugins/scms/github/pullrequestReviews.go
  pkg/plugins/scms/github/user.go
  pkg/plugins/scms/github/user_test.go
Labels: enhancement, pullrequest-github

#4426 feat(shell): set default shell environments variable
  pkg/plugins/resources/shell/condition.go
  pkg/plugins/resources/shell/environment.go
  pkg/plugins/resources/shell/environments.go
  pkg/plugins/resources/shell/main.go
  pkg/plugins/resources/shell/main_test.go
  pkg/plugins/resources/shell/source.go
  pkg/plugins/resources/shell/target.go
Labels: enhancement, resource-shell, ux

#4493 fix: Add missing values file in updatecli-compose.yaml
  updatecli-compose.yaml
Labels: skip-changelog

#4494 feat: support basic authorization for non-oci private helm repos
  pkg/plugins/resources/helm/utils.go
Labels: enhancement, resource-helm

#4531 fix: uses old releases in the helm changelog test
  pkg/plugins/resources/helm/changelog_test.go
Labels: skip-changelog

#4528 feat: Support key `title` for githubrelease source, condition
  CONTRIBUTING.adoc
  e2e/updatecli.d/success.d/githubRelease.yaml
  pkg/plugins/resources/githubrelease/condition.go
  pkg/plugins/resources/githubrelease/main.go
  pkg/plugins/resources/githubrelease/source.go
  pkg/plugins/resources/githubrelease/source_test.go
  pkg/plugins/scms/github/client.go
  pkg/plugins/scms/github/release.go
  pkg/plugins/scms/github/release_test.go
Labels: enhancement, resource-githubRelease
